In [1]:
!wget https://he-s3.s3.amazonaws.com/media/hackathon/on-the-plague-trail-hackerearth-machine-learning-challenge/on-the-plague-trail/8f86dc50-7-dataset.zip

--2019-06-05 18:20:39--  https://he-s3.s3.amazonaws.com/media/hackathon/on-the-plague-trail-hackerearth-machine-learning-challenge/on-the-plague-trail/8f86dc50-7-dataset.zip
Resolving he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)... 52.219.32.116
Connecting to he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)|52.219.32.116|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2176881 (2.1M) [application/zip]
Saving to: ‘8f86dc50-7-dataset.zip’

8f86dc50-7-dataset. 100%[===================>]   2.08M  1.58MB/s    in 1.3s

2019-06-05 18:20:41 (1.58 MB/s) - ‘8f86dc50-7-dataset.zip’ saved [2176881/2176881]

In [2]:
!unzip 8f86dc50-7-dataset.zip

Archive:  8f86dc50-7-dataset.zip
  inflating: sample.csv
  inflating: test.csv
  inflating: train.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [30]:
train.tail(5)

            ID          DateTime  TempOut  HiTemp  ...   PD   PE   PF   PG
39995  PR39996   04-01-2042 0:00     55.0    55.1  ...  470  303  207  148
39996  PR39997  04-04-2042 12:00     60.1    60.5  ...  470  303  207  148
39997  PR39998  08-04-2041 10:30     79.6    79.6  ...  470  303  207  148
39998  PR39999  08-04-2041 11:00     81.2    82.0  ...  470  303  207  148
39999  PR40000  08-04-2041 11:15     82.9    83.0  ...  470  303  207  148

[5 rows x 37 columns]

In [31]:
test['WindDir'].unique()

array(['SSE', 'S', 'SE', 'W', 'WNW', 'WSW', 'SW', 'SSW', 'ESE', '---',
       'N', 'NNW', 'NW', 'NNE', 'E', 'ENE', 'NE'], dtype=object)

In [27]:
train['HiDir'].unique()

array(['SE', 'SSE', 'S', 'SW', 'SSW', '---', 'WSW', 'W', 'N', 'E', 'ESE',
       'WNW', 'NW', 'ENE', 'NNW', 'NE', 'NNE'], dtype=object)

In [29]:
train['WindDir'].loc[train['WindDir']=='SSE'] = 0
train['WindDir'].loc[train['WindDir']=='S'] = 1
train['WindDir'].loc[train['WindDir']=='SW'] =2 
train['WindDir'].loc[train['WindDir']=='---'] =3
train['WindDir'].loc[train['WindDir']=='W'] = 4
train['WindDir'].loc[train['WindDir']=='WSW'] =5
train['WindDir'].loc[train['WindDir']=='SSW'] =6
train['WindDir'].loc[train['WindDir']=='WNW'] =7
train['WindDir'].loc[train['WindDir']=='SE'] =8
train['WindDir'].loc[train['WindDir']=='ESE'] =9
train['WindDir'].loc[train['WindDir']=='E'] = 10
train['WindDir'].loc[train['WindDir']=='NNW'] =11
train['WindDir'].loc[train['WindDir']=='N'] = 12
train['WindDir'].loc[train['WindDir']=='ENE'] =13
train['WindDir'].loc[train['WindDir']=='NW'] = 14 
train['WindDir'].loc[train['WindDir']=='NNE'] =15
train['WindDir'].loc[train['WindDir']=='NE'] = 16

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [32]:
test['WindDir'].loc[test['WindDir']=='SSE'] = 0
test['WindDir'].loc[test['WindDir']=='S'] = 1
test['WindDir'].loc[test['WindDir']=='SW'] =2 
test['WindDir'].loc[test['WindDir']=='---'] =3
test['WindDir'].loc[test['WindDir']=='W'] = 4
test['WindDir'].loc[test['WindDir']=='WSW'] =5
test['WindDir'].loc[test['WindDir']=='SSW'] =6
test['WindDir'].loc[test['WindDir']=='WNW'] =7
test['WindDir'].loc[test['WindDir']=='SE'] =8
test['WindDir'].loc[test['WindDir']=='ESE'] =9
test['WindDir'].loc[test['WindDir']=='E'] = 10
test['WindDir'].loc[test['WindDir']=='NNW'] =11
test['WindDir'].loc[test['WindDir']=='N'] = 12
test['WindDir'].loc[test['WindDir']=='ENE'] =13
test['WindDir'].loc[test['WindDir']=='NW'] = 14 
test['WindDir'].loc[test['WindDir']=='NNE'] =15
test['WindDir'].loc[test['WindDir']=='NE'] = 16

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [33]:
train['HiDir'].loc[train['HiDir']=='SSE'] = 0
train['HiDir'].loc[train['HiDir']=='S'] = 1
train['HiDir'].loc[train['HiDir']=='SW'] =2 
train['HiDir'].loc[train['HiDir']=='---'] =3
train['HiDir'].loc[train['HiDir']=='W'] = 4
train['HiDir'].loc[train['HiDir']=='WSW'] =5
train['HiDir'].loc[train['HiDir']=='SSW'] =6
train['HiDir'].loc[train['HiDir']=='WNW'] =7
train['HiDir'].loc[train['HiDir']=='SE'] =8
train['HiDir'].loc[train['HiDir']=='ESE'] =9
train['HiDir'].loc[train['HiDir']=='E'] = 10
train['HiDir'].loc[train['HiDir']=='NNW'] =11
train['HiDir'].loc[train['HiDir']=='N'] = 12
train['HiDir'].loc[train['HiDir']=='ENE'] =13
train['HiDir'].loc[train['HiDir']=='NW'] = 14 
train['HiDir'].loc[train['HiDir']=='NNE'] =15
train['HiDir'].loc[train['HiDir']=='NE'] = 16

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [34]:
test['HiDir'].loc[test['HiDir']=='SSE'] = 0
test['HiDir'].loc[test['HiDir']=='S'] = 1
test['HiDir'].loc[test['HiDir']=='SW'] =2 
test['HiDir'].loc[test['HiDir']=='---'] =3
test['HiDir'].loc[test['HiDir']=='W'] = 4
test['HiDir'].loc[test['HiDir']=='WSW'] =5
test['HiDir'].loc[test['HiDir']=='SSW'] =6
test['HiDir'].loc[test['HiDir']=='WNW'] =7
test['HiDir'].loc[test['HiDir']=='SE'] =8
test['HiDir'].loc[test['HiDir']=='ESE'] =9
test['HiDir'].loc[test['HiDir']=='E'] = 10
test['HiDir'].loc[test['HiDir']=='NNW'] =11
test['HiDir'].loc[test['HiDir']=='N'] = 12
test['HiDir'].loc[test['HiDir']=='ENE'] =13
test['HiDir'].loc[test['HiDir']=='NW'] = 14 
test['HiDir'].loc[test['HiDir']=='NNE'] =15
test['HiDir'].loc[test['HiDir']=='NE'] = 16

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [36]:
test.head()

        ID          DateTime  TempOut  ...  WindTx  ISSRecpt  ArcInt
0  PR40001  08-04-2041 11:30     82.6  ...       1     100.0      15
1  PR40002  08-04-2041 11:45     82.6  ...       1     100.0      15
2  PR40003  08-04-2041 12:00     83.6  ...       1     100.0      15
3  PR40004  08-04-2041 12:15     85.1  ...       1     100.0      15
4  PR40005  08-04-2041 12:30     86.5  ...       1     100.0      15

[5 rows x 30 columns]

In [0]:

submission = pd.DataFrame({
        "WindDir": test["WindDir"],
        "HiDir": test["HiDir"],
        "DateTime": test["DateTime"]
    
    })
submission.to_csv('./submission.csv', index=False)

In [43]:
submission = pd.read_csv('submission.csv')
submission.head()

   WindDir  HiDir          DateTime
0        0      6  08-04-2041 11:30
1        1      0  08-04-2041 11:45
2        1      8  08-04-2041 12:00
3        1      1  08-04-2041 12:15
4        0      0  08-04-2041 12:30

In [0]:
from google.colab import files
files.download('submission.csv')