# EDA on Chase Bank Branch Deposits

# Content

This dataset includes a record for every branch of Chase Bank in the United States, including the branch's name and number, date established as a bank office and (if applicable) acquired by JP Morgan Chase, physical location as street address, city, state, zip, and latitude and longitude coordinates, and the amount deposited at the branch (or the institution, for the bank's main office) between July 1 and June 30, 2016, in US dollars.


# Data Source

The location data was scraped from the Chase Bank website. The deposit data was compiled from the Federal Deposit Insurance Corporation's annual Summary of Deposits reports. This perticular data was taken from the Kaggle Link :- https://www.kaggle.com/chasebank/bank-deposits


# EDA Ideas

* Where did Chase Bank customers deposit the most money last year?
* Which bank branch has seen the most growth in deposits?
* How did the bank network of branch locations grow over the past century?
* What city has the most bank branches per capita?

In [4]:
import numpy as np # linear algebra
import pandas_profiling
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt #for graphing
%matplotlib inline
import seaborn as sns #for Plotting
local_path = "C:/Users/Aravind/Desktop/UpX Academy/Data Science Track - 01/PROJECTS TO BE DOING/Project Datasets/Project_Bank/Chase bank-deposits/database.csv"
input_data = pd.read_csv(local_path)                           #load CSV file from local directory
input_data.head()                                         # Preview the first 5 lines of the loaded data

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
0,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,NaN,1111 Polaris Parkway,Columbus,Delaware,OH,43240,40.14453,-82.99115,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
1,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,NaN,676 White Plains Road,Scarsdale,Westchester,NY,10583,40.97008,-73.80670,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558
2,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,NaN,410 Northern Boulevard,Great Neck,Nassau,NY,11021,40.77944,-73.72240,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940
3,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,NaN,353 North Central Avenue,Hartsdale,Westchester,NY,10530,41.02654,-73.79168,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233
4,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,NaN,335 Rockaway Turnpike,Lawrence,Nassau,NY,11559,40.62715,-73.73675,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594

In [6]:
eda = pandas_profiling.ProfileReport(input_data)
eda

In [19]:
df = pd.DataFrame(input_data)          
input_data.shape

(5413, 20)

In [57]:
df[['Branch Name','2016 Deposits']].apply(np.cumsum)

                                            Branch Name  2016 Deposits
0                       JPMorgan Chase Bank Main Office     1155185000
1     JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1155566558
2     JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1155845498
3     JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1155985731
4     JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1156221325
5     JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1156373274
6     JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1156483866
7     JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1156546859
8     JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1156635813
9     JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1156724487
10    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1157111820
11    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1157291386
12    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1157422931
13    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1157617540
14    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1157915361
15    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1158170445
16    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1158249886
17    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1158893169
18    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1159340782
19    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1159480612
20    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1160016831
21    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1160631860
22    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1161164466
23    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1161498420
24    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1162390687
25    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1162925970
26    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1163355280
27    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1163709205
28    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1163958631
29    JPMorgan Chase Bank Main OfficeVernon Hills Sc...     1164015170
...                                                 ...            ...
5383  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307134798
5384  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307159199
5385  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307174557
5386  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307188823
5387  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307204469
5388  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307213317
5389  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307228552
5390  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307244408
5391  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307251739
5392  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307255627
5393  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307266539
5394  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307286916
5395  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307305314
5396  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307312713
5397  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307402759
5398  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307410894
5399  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307466569
5400  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307637338
5401  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307643972
5402  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307655572
5403  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2307660381
5404  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2310211962
5405  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2310212646
5406  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2310214917
5407  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2310217488
5408  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2310220934
5409  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2310223600
5410  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2310230289
5411  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2310324422
5412  JPMorgan Chase Bank Main OfficeVernon Hills Sc...     2310370018

[5413 rows x 2 columns]

In [28]:
df.isnull().sum(axis=0)         #Identifying number of Nan Values

Institution Name       0
Main Office            0
Branch Name            0
Branch Number          0
Established Date       0
Acquired Date       1615
Street Address         0
City                   0
County                 0
State                  0
Zipcode                0
Latitude              66
Longitude             66
2010 Deposits        740
2011 Deposits        578
2012 Deposits        329
2013 Deposits        175
2014 Deposits         56
2015 Deposits         19
2016 Deposits          0
dtype: int64

In [29]:
# Since Latitude, Longitude are not required for the purpose of this EDA, we shall remove those columns
df.drop(['Latitude','Longitude'], axis = 1, inplace = True)
df

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
0,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,NaN,1111 Polaris Parkway,Columbus,Delaware,OH,43240,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
1,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,NaN,676 White Plains Road,Scarsdale,Westchester,NY,10583,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558
2,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,NaN,410 Northern Boulevard,Great Neck,Nassau,NY,11021,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940
3,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,NaN,353 North Central Avenue,Hartsdale,Westchester,NY,10530,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233
4,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,NaN,335 Rockaway Turnpike,Lawrence,Nassau,NY,11559,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594
5,JPMorgan Chase Bank,0,Mount Vernon Branch,9,02/25/1964,NaN,22 West First Street,Mount Vernon,Westchester,NY,10550,146820.0,136672.0,140678.0,154313.0,1.487070e+05,1.454990e+05,151949
6,JPMorgan Chase Bank,0,Castle Hill Branch,12,12/11/1965,NaN,784 Castle Hill Avenue,Bronx,Bronx,NY,10473,75131.0,80172.0,82333.0,94538.0,9.704600e+04,1.071660e+05,110592
7,JPMorgan Chase Bank,0,Burnside Avenue Branch,15,02/14/1922,NaN,5 West Burnside Avenue,Bronx,Bronx,NY,10453,39888.0,42546.0,43800.0,45867.0,5.136300e+04,5.669300e+04,62993
8,JPMorgan Chase Bank,0,Gun Hill Branch,16,12/18/1950,NaN,1308 East Gun Hill Road,Bronx,Bronx,NY,10469,73702.0,70049.0,70447.0,78946.0,8.067700e+04,8.275600e+04,88954
9,JPMorgan Chase Bank,0,Kingsbridge Road Branch,18,08/18/1924,NaN,66 East Kingsbridge Road,Bronx,Bronx,NY,10468,69778.0,72816.0,74729.0,75470.0,7.875900e+04,8.397800e+04,88674
10,JPMorgan Chase Bank,0,Riverdale Branch,20,06/01/1950,NaN,3775 Riverdale Avenue,Bronx,Bronx,NY,10463,304300.0,311508.0,330224.0,360791.0,3.672020e+05,3.644350e+05,387333
11,JPMorgan Chase Bank,0,Washington Heights Branch,21,01/02/1909,NaN,1421 Saint Nicholas Avenue,New York City,New York,NY,10033,136997.0,142882.0,151420.0,158669.0,1.578620e+05,1.633360e+05,179566
12,JPMorgan Chase Bank,0,Broadway Branch,22,07/12/1926,NaN,5581 Broadway,Bronx,Bronx,NY,10463,113665.0,112165.0,122634.0,126619.0,1.240310e+05,1.344750e+05,131545
13,JPMorgan Chase Bank,0,Westchester Square Branch,24,06/29/1959,NaN,2725 East Tremont Avenue,Bronx,Bronx,NY,10461,155289.0,157396.0,161177.0,169839.0,1.674950e+05,1.835440e+05,194609
14,JPMorgan Chase Bank,0,Bay Parkway and 85th St Branch,26,03/25/1964,NaN,8418 Bay Parkway,Brooklyn,Kings,NY,11214,187794.0,195965.0,214398.0,227519.0,2.521240e+05,2.785470e+05,297821
15,JPMorgan Chase Bank,0,Grand Army Plaza Branch,33,03/14/1927,NaN,401 Flatbush Avenue,Brooklyn,Kings,NY,11238,135506.0,136764.0,146051.0,163797.0,1.780010e+05,2.276470e+05,255084
16,JPMorgan Chase Bank,0,Carroll Gardens Branch,34,06/09/1913,NaN,79 Hamilton Avenue,Brooklyn,Kings,NY,11231,46199.0,51254.0,54859.0,70898.0,6.982400e+04,7.753600e+04,79441
17,JPMorgan Chase Bank,0,Third Avenue & 51st Street Branch,37,05/05/1961,NaN,850 Third Avenue,New York City,New York,NY,10022,463550.0,456859.0,508804.0,540179.0,5.957860e+05,5.817250e+05,643283
18,JPMorgan Chase Bank,0,East End Branch,38,05/22/1961,NaN,1495 York Avenue,New York City,New York,NY,10075,299301.0,306225.0,317068.0,359173.0,4.107370e+05,4.251690e+05,447613
19,JPMorgan Chase Bank,0,Audubon Branch,40,04/02/1917,NaN,3940 Broadway,New York City,New York,NY,10032,91380.0,97219.0,104093.0,106875.0,1.142920e+05,1.222200e+05,139830
20,JPMorgan Chase Bank,0,First Avenue & 72nd Street Branch,41,06/15/1964,NaN,360 East 72nd Street,New York City,New York,NY,10021,384454.0,364852.0,387515.0,440753.0,5.005740e+05,4.838350e+05,536219
21,JPMorgan Chase Bank,0,Soho Branch,42,10/18/1954,NaN,525 Broadway,New York City,New York,NY,10012,286082.0,320252.0,344141.0,385854.0,4.888860e+05,5.081220e+05,615029
22,JPMorgan Chase Bank,0,Times Square Branch,44,05/02/1927,NaN,3 Times Square,New York City,New York,NY,10036,313024.0,338725.0,432032.0,449569.0,4.740470e+05,4.959290e+05,532606
23,JPMorgan Chase Bank,0,Broadway Lispenard Branch,45,08/01/1922,NaN,407 Broadway,New York City,New York,NY,10013,150592.0,160595.0,204645.0,244811.0,2.757260e+05,3.069020e+05,333954
24,JPMorgan Chase Bank,0,Chinatown Branch,46,11/24/1919,NaN,180 Canal Street,New York City,New York,NY,10013,480964.0,523824.0,589914.0,638030.0,7.156070e+05,7.914130e+05,892267
25,JPMorgan Chase Bank,0,Yorkville Branch,52,06/15/1914,NaN,126 East 86th Street,New York City,New York,NY,10028,383871.0,410662.0,437302.0,490441.0,5.388600e+05,5.265580e+05,535283
26,JPMorgan Chase Bank,0,Columbus Avenue & 72nd Street Branch,62,10/18/1954,NaN,260 Columbus Avenue,New York City,New York,NY,10023,311593.0,350759.0,338917.0,356374.0,3.843710e+05,3.830140e+05,429310
27,JPMorgan Chase Bank,0,Bloomingdales Branch,63,08/02/1915,NaN,770 Lexington Avenue,New York City,New York,NY,10065,273852.0,284524.0,295659.0,301179.0,3.650230e+05,3.569220e+05,353925
28,JPMorgan Chase Bank,0,London Terrace Branch,64,05/01/1931,NaN,475 West 23rd Street,New York City,New York,NY,10011,143289.0,163960.0,168332.0,194739.0,2.245360e+05,2.455730e+05,249426
29,JPMorgan Chase Bank,0,Tremont Branch,71,10/18/1954,NaN,601 East Tremont Avenue,Bronx,Bronx,NY,10457,48180.0,43965.0,45267.0,48717.0,5.394900e+04,5.609300e+04,56539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5383,JPMorgan Chase Bank,0,Polo Club Shoppes Branch,7952,06/02/2015,NaN,17955 South Military Trail,Boca Raton,Palm Beach,FL,33496,NaN,NaN,NaN,NaN,NaN,1.470000e+03,19184
5384,JPMorgan Chase Bank,0,Brookhurst and Mcfadden Branch,7953,07/07/2015,NaN,15512 Brrokhurst Street,Westminster,Orange,CA,92683,NaN,NaN,NaN,NaN,NaN,NaN,24401
5385,JPMorgan Chase Bank,0,US 1 and Pga Boulevard Branch,7955,07/15/2014,NaN,11364 US Highway 1,Palm Beach Gardens,Palm Beach,FL,33408,NaN,NaN,NaN,NaN,NaN,6.159000e+03,15358
5386,JPMorgan Chase Bank,0,San Marco Branch,7956,09/03/2014,NaN,11364 US Highway 1,Jacksonville,Duval,FL,32219,NaN,NaN,NaN,NaN,NaN,6.153000e+03,14266
5387,JPMorgan Chase Bank,0,Park and Greenbay Branch,7957,09/04/2014,NaN,332 Park Avenue,Glencoe,Cook,IL,60022,NaN,NaN,NaN,NaN,NaN,8.045000e+03,15646
5388,JPMorgan Chase Bank,0,Bedford Hills Branch,7958,11/04/2014,NaN,711 Bedford Road,Bedford Hills,Westchester,NY,10507,NaN,NaN,NaN,NaN,NaN,8.302000e+03,8848
5389,JPMorgan Chase Bank,0,Siesta and Tamiami Branch,7959,12/16/2014,NaN,3500 South Tamiami Trail,Sarasota,Sarasota,FL,34239,NaN,NaN,NaN,NaN,NaN,6.474000e+03,15235
5390,JPMorgan Chase Bank,0,Gellert and Westborough Branch,7960,01/27/2015,NaN,"2248 Westborough Boulevard, Suite 601 and 602",South San Francisco,San Mateo,CA,94080,NaN,NaN,NaN,NaN,NaN,5.406000e+03,15856
5391,JPMorgan Chase Bank,0,Federal Highway and 5th Avenue Branch,7961,02/10/2015,NaN,1850 North Federal Highway,Boca Raton,Palm Beach,FL,33432,NaN,NaN,NaN,NaN,NaN,1.742000e+03,7331
5392,JPMorgan Chase Bank,0,Norwalk Waypointe Branch,7962,04/14/2015,NaN,515 West Avenue,Norwalk,Fairfield,CT,6850,NaN,NaN,NaN,NaN,NaN,3.990000e+02,3888
5393,JPMorgan Chase Bank,0,Fleming Island Cr 220 Branch,7963,04/21/2015,NaN,1516 Cr 220,Fleming Island,Clay,FL,32003,NaN,NaN,NaN,NaN,NaN,2.914000e+03,10912
5394,JPMorgan Chase Bank,0,Manatee and 75th Branch,7964,04/23/2015,NaN,7206 Manatee Avenue West,Bradenton,Manatee,FL,34209,NaN,NaN,NaN,NaN,NaN,1.046600e+04,20377
5395,JPMorgan Chase Bank,0,Camino Alto & East Blithdale Banking Center,7965,07/21/2015,NaN,630 East Blithedale Ave,Mill Valley,Marin,CA,94941,NaN,NaN,NaN,NaN,NaN,NaN,18398
5396,JPMorgan Chase Bank,0,North Flemington Branch,7967,07/21/2015,NaN,318 State Route 31,Flemington,Hunterdon,NJ,8822,NaN,NaN,NaN,NaN,NaN,NaN,7399
5397,JPMorgan Chase Bank,0,Village Of Merrick Park Branch,7969,09/28/2015,NaN,4101 Ponce De Leon Blvd,Coral Gables,Miami-Dade,FL,33146,NaN,NaN,NaN,NaN,NaN,NaN,90046
5398,JPMorgan Chase Bank,0,Forest Hill Blvd and 441,7970,10/13/2015,NaN,10100 Forest Hill Blvd,Wellington,Palm Beach,FL,33414,NaN,NaN,NaN,NaN,NaN,NaN,8135
5399,JPMorgan Chase Bank,0,Easter and University Branch,7971,10/26/2015,NaN,6900 South University Blvd,Centennial,Arapahoe,CO,80122,NaN,NaN,NaN,NaN,NaN,NaN,55675
5400,JPMorgan Chase Bank,0,Hamilton and Jefferson Branch,7972,10/26/2015,NaN,125 Ne Jefferson Avenue,Peoria,Peoria,IL,61602,NaN,NaN,NaN,NaN,NaN,NaN,170769
5401,JPMorgan Chase Bank,0,Coconut Grove Branch,7973,11/10/2015,NaN,3015 Grand Avenue,Miami,Miami-Dade,FL,33133,NaN,NaN,NaN,NaN,NaN,NaN,6634
5402,JPMorgan Chase Bank,0,Park Place Branch,7974,11/17/2015,NaN,"2967 Michelson Drive, Suite A",Irvine,Orange,CA,92612,NaN,NaN,NaN,NaN,NaN,NaN,11600
5403,JPMorgan Chase Bank,0,LA Paz Road and Aliso Creek Branch,7975,12/03/2015,NaN,23970 Aliso Creek Road,Laguna Niguel,Orange,CA,92677,NaN,NaN,NaN,NaN,NaN,NaN,4809
5404,JPMorgan Chase Bank,0,Oklahoma City Downtown Branch,7976,12/07/2015,NaN,320 North Broadway Avenue,Oklahoma City,Oklahoma,OK,73102,NaN,NaN,NaN,NaN,NaN,NaN,2551581
5405,JPMorgan Chase Bank,0,Tampa Downtown Branch,7978,04/26/2016,NaN,300 North Franklin Street,Tampa,Hillsborough,FL,33602,NaN,NaN,NaN,NaN,NaN,NaN,684
5406,JPMorgan Chase Bank,0,Bartram Park and Old St. Augustine Branch,7979,05/10/2016,NaN,"13920 Old St. Augustine Road, Unit 107",Jacksonville,Duval,FL,32258,NaN,NaN,NaN,NaN,NaN,NaN,2271
5407,JPMorgan Chase Bank,0,Desoto and Ventura Branch,7980,05/24/2016,NaN,20900 Ventura Blvd,Woodland Hills,Los Angeles,CA,91364,NaN,NaN,NaN,NaN,NaN,NaN,2571
5408,JPMorgan Chase Bank,0,Alameda and Compton Blvd Branch,7981,11/03/2015,NaN,251 E Compton Blvd,Compton,Los Angeles,CA,90220,NaN,NaN,NaN,NaN,NaN,NaN,3446
5409,JPMorgan Chase Bank,0,Charleston and Rancho,7982,02/02/2016,NaN,2311 W Chafrleston Blvd,Las Vegas,Clark,NV,89102,NaN,NaN,NaN,NaN,NaN,NaN,2666
5410,JPMorgan Chase Bank,0,Los Olivos Branch,7984,03/15/2016,NaN,8593 Irvine Center Drive,Irvine,Orange,CA,92618,NaN,NaN,NaN,NaN,NaN,NaN,6689
5411,JPMorgan Chase Bank,0,Lake Forest Branch,7988,01/01/2016,NaN,5660 Read Blvd,New Orleans,Orleans,LA,70127,NaN,NaN,NaN,NaN,NaN,NaN,94133
5412,JPMorgan Chase Bank,0,Buffalo-Mm Branch,7989,01/01/2016,NaN,350 Main Street,Buffalo,Erie,NY,14202,NaN,NaN,NaN,NaN,NaN,NaN,45596

In [157]:
df.groupby('Branch Name').size().count()
# Here we can see there are total 5317 branches present.

5317

## *In the year 2016

In [66]:
location = df.groupby(['State', '2016 Deposits']).sum()

In [67]:
location

                     Main Office  Branch Number  Zipcode  2010 Deposits  \
State 2016 Deposits
AZ    0                        0           9450   255274            0.0
      8203                     0           7808    85281            0.0
      8628                     0           7070    86314          647.0
      10255                    0           2577    85714         6109.0
      11488                    0           6815    85388         1598.0
      12753                    0           2539    85711        10504.0
      12870                    0           2565    85303         6827.0
      12917                    0           3324    85020         6550.0
      13375                    0           7263    85258            0.0
      13566                    0           2555    85301         8583.0
      13783                    0           2578    85210         8081.0
      13929                    0           6683    85301         7053.0
      14325                    0           2564    85016         8385.0
      14607                    0           7511    85635            0.0
      15219                    0           2556    85730        12249.0
      15316                    0           7172    85204            0.0
      15371                    0           2550    85712        12193.0
      16449                    0           2552    85710        12375.0
      18774                    0           7456    85012            0.0
      19843                    0           7136    85006            0.0
      20244                    0           2548    85306        11681.0
      20267                    0           6808    86301         6664.0
      20364                    0           2554    85710        17836.0
      20818                    0           2562    85345        12273.0
      21004                    0           4117    85353         6400.0
      21627                    0           7056    85015         2235.0
      22328                    0           6804    85338         5557.0
      23127                    0           6541    85202         3018.0
      23358                    0           7575    85297            0.0
      23600                    0           2540    85737        15337.0
...                          ...            ...      ...            ...
WI    195381                   0           2925    53717        72003.0
      247154                   0           2888    53140       133476.0
      319214                   0           2895    54911       223146.0
      437332                   0           2923    53714        27885.0
      3626444                  0           2852    53202      2305660.0
WV    0                        0           3625    51602            0.0
      21186                    0           1820    25701        16256.0
      21969                    0           1812    25311        15743.0
      28127                    0           1806    25314        23905.0
      28274                    0           1797    25541        19345.0
      43337                    0           1819    25570        33693.0
      44509                    0           1809    25071        25963.0
      44811                    0           1829    25560        21000.0
      47495                    0           1827    26003        28345.0
      52273                    0           1810    25304        44908.0
      54101                    0           1801    25901        59737.0
      55321                    0           1818    25177        52203.0
      57758                    0           1799    25802        48926.0
      57811                    0           1817    25508        46633.0
      58192                    0           1805    25303        45998.0
      65258                    0           1815    26330        47970.0
      67980                    0           1821    26003        58949.0
      68413                    0           1800    25813        68646.0
      72276                    0           1816    25601        83766.0
      81734                    0           1796    25504        55482.0
      92415                    0           1798    25801        90368.0
      123250                   0           1802    26201       115302.0
      152449                   0           1813    26301       159283.0
      223992                   0           1794    25701       159882.0
      249305                   0           1804    25301       289338.0

                     2011 Deposits  2012 Deposits  2013 Deposits  \
State 2016 Deposits
AZ    0                        0.0            0.0            0.0
      8203                     0.0            0.0            0.0
      8628                  1822.0         3208.0         5149.0
      10255                 6264.0         7726.0         8818.0
      11488                 3106.0         5057.0         6044.0
      12753                11376.0        13915.0        13678.0
      12870                 8286.0         9237.0        10242.0
      12917                 7237.0         9227.0        10414.0
      13375                 3678.0         5805.0         8420.0
      13566                 9215.0        10689.0        11578.0
      13783                 8599.0         9200.0        10975.0
      13929                 9146.0        10127.0        10203.0
      14325                 9135.0        10315.0        11356.0
      14607                    0.0        11722.0        12234.0
      15219                10409.0        11417.0        12517.0
      15316                 2797.0         5691.0         7347.0
      15371                12104.0        13416.0        13501.0
      16449                12784.0        13994.0        14949.0
      18774                    0.0         3126.0         9744.0
      19843                 4421.0         8074.0        10082.0
      20244                13260.0        15088.0        14877.0
      20267                 8587.0        10523.0        12801.0
      20364                17731.0        19996.0        20534.0
      20818                12031.0        13551.0        15353.0
      21004                 7326.0        11206.0        11582.0
      21627                 5785.0         9518.0        11793.0
      22328                 8750.0        13192.0        13671.0
      23127                 6140.0         7508.0        10890.0
      23358                    0.0         3656.0        10911.0
      23600                15960.0        16158.0        19090.0
...                            ...            ...            ...
WI    195381               81172.0        94767.0       126375.0
      247154              161447.0       159164.0       140445.0
      319214              253314.0       281540.0       295447.0
      437332               29115.0        31670.0        34079.0
      3626444            3110446.0      3332864.0      3541565.0
WV    0                        0.0            0.0            0.0
      21186                16380.0        16328.0        18674.0
      21969                17635.0        18709.0        18172.0
      28127                23255.0        30382.0        28187.0
      28274                19723.0        20519.0        22458.0
      43337                32091.0        30135.0        29819.0
      44509                25579.0        25068.0        26196.0
      44811                22605.0        28137.0        30304.0
      47495                30659.0        34223.0        40959.0
      52273                48699.0        49337.0        52557.0
      54101                55785.0        55873.0        53842.0
      55321                49849.0        52115.0        52538.0
      57758                51989.0        54800.0        51703.0
      57811                49056.0        51663.0        53976.0
      58192                47598.0        51177.0        51832.0
      65258                50567.0        52838.0        56201.0
      67980                61041.0        63802.0        62264.0
      68413                64161.0        76185.0        71136.0
      72276                85060.0        87466.0        83232.0
      81734                56516.0        63490.0        69940.0
      92415                88722.0        92561.0        96771.0
      123250              116572.0       121027.0       121470.0
      152449              157217.0       170326.0       183467.0
      223992              161750.0       176853.0       193777.0
      249305              239073.0       261614.0       261435.0

                     2014 Deposits  2015 Deposits
State 2016 Deposits
AZ    0                        0.0            0.0
      8203                  1804.0         4974.0
      8628                  5592.0         5993.0
      10255                 8483.0         9211.0
      11488                 7456.0         8372.0
      12753                11716.0        12212.0
      12870                11863.0        12651.0
      12917                11047.0        11598.0
      13375                11126.0        12144.0
      13566                11626.0        12346.0
      13783                13223.0        12892.0
      13929                11110.0        13024.0
      14325                13231.0        14287.0
      14607                12652.0        13351.0
      15219                13453.0        15104.0
      15316                10802.0        13204.0
      15371                13508.0        15190.0
      16449                14201.0        14926.0
      18774                27161.0        26097.0
      19843                12149.0        16120.0
      20244                16392.0        18250.0
      20267                16316.0        17686.0
      20364                20956.0        21373.0
      20818                17363.0        19357.0
      21004                14126.0        16631.0
      21627                14932.0        17193.0
      22328                15071.0        18191.0
      23127                12860.0        15415.0
      23358                13568.0        17587.0
      23600                20429.0        20790.0
...                            ...            ...
WI    195381              144222.0       157759.0
      247154              222437.0       211823.0
      319214              310291.0       400746.0
      437332              394269.0       404053.0
      3626444            3420665.0      3986938.0
WV    0                        0.0            0.0
      21186                18665.0        19889.0
      21969                18365.0        19714.0
      28127                29272.0        28058.0
      28274                22706.0        26727.0
      43337                29355.0        29694.0
      44509                26596.0        26013.0
      44811                35882.0        39266.0
      47495                42469.0        47692.0
      52273                50786.0        50739.0
      54101                54253.0        54895.0
      55321                53095.0        53802.0
      57758                53156.0        55637.0
      57811                53796.0        56033.0
      58192                56432.0        59690.0
      65258                61060.0        69961.0
      67980                68097.0        65534.0
      68413                71570.0        67998.0
      72276                82258.0        79024.0
      81734                73586.0        76688.0
      92415                95163.0        94420.0
      123250              123212.0       124250.0
      152449              175533.0       133082.0
      223992              195971.0       208084.0
      249305              251327.0       265854.0

[5287 rows x 9 columns]

In [60]:
deposit_2016 = df.groupby(['2016 Deposits', 'City'])

In [61]:
deposit_2016.sum()

                                 Main Office  Branch Number  Zipcode  \
2016 Deposits City
0             Abilene                      0           3432    79601
              Amarillo                     0           2363    79101
              Amityville                   0           1283    11701
              Appleton                     0           2897    54911
              Arlington                    0           5876   228037
              Atlanta                      0           4408    30305
              Austin                       0           9234   236197
              Baton Rouge                  0           7789   212418
              Beaver Dam                   0           2904    53916
              Bellaire                     0           1822    43906
              Boston                       0           4407     2110
              Bronx                        0           2566    20937
              Burton                       0           3446    48529
              Center Moriches              0           1285    11934
              Charleston                   0           1811    25301
              Chicago                      0          12025   121212
              Clarksburg                   0           1814    26301
              Columbus                     0           8592   216107
              Covington                    0           2167    70433
              Cridersville                 0           1738    45806
              Dallas                       0          25502   601758
              Dayton                       0           1749    45402
              Denison                      0           2362    75020
              Denver                       0           4404    80202
              Detroit                      0           2624    48223
              Dublin                       0           1571    43016
              Edmond                       0           3318    73034
              Elk Grove Village            0           3152    60007
              Fairfield                    0           1479     7004
              Farmers Branch               0           1407    75234
...                                      ...            ...      ...
1246785       Flushing                     0            113    11354
1293817       New Orleans                  0           2113    70170
1449603       New York City                0            788    10017
1498325       New York City                0            794    10038
1580901       Seattle                      0           6502    98101
1713253       Fort Worth                   0           2326    76102
1873614       Louisville                   0           3194    40202
1925358       New York City                0           1235    10005
1943526       Austin                       0           2230    78701
2072137       New York City                0            105    10020
2551581       Oklahoma City                0           7976    73102
3230688       Denver                       0           3087    80202
3407964       San Francisco                0           4440    94122
3626444       Milwaukee                    0           2852    53202
3764612       Garland                      0           3684    75040
4328510       Los Angeles                  0           4501    90017
4995400       Baton Rouge                  0           2036    70801
5164067       Indianapolis                 0           2928    46204
6879927       New York City                0           7078    10036
7822138       Phoenix                      0           2414    85004
8142300       Columbus                     0           3481    43215
9138734       Salt Lake City               0           2595    84111
15580897      New York City                0             85    10016
19499502      Detroit                      0           2616    48226
25414792      Dallas                       0           4311    75201
36539028      Chicago                      0           1838    60603
57820585      Houston                      0           1315    77002
69044786      New York City                0            544    10017
313686851     New York City                0           3586    10017
1155185000    Columbus                     1              0    43240

                                 2010 Deposits  2011 Deposits  2012 Deposits  \
2016 Deposits City
0             Abilene                      0.0            3.0            0.0
              Amarillo                     0.0            0.0            0.0
              Amityville                   0.0            0.0            0.0
              Appleton                     0.0            0.0            0.0
              Arlington                    0.0            0.0            0.0
              Atlanta                      0.0            0.0            0.0
              Austin                       0.0            0.0            0.0
              Baton Rouge                  0.0            0.0            0.0
              Beaver Dam                   0.0            0.0            0.0
              Bellaire                     0.0            0.0            0.0
              Boston                       0.0            0.0            0.0
              Bronx                        0.0            0.0            0.0
              Burton                       0.0            0.0            0.0
              Center Moriches              0.0            0.0            0.0
              Charleston                   0.0            0.0            0.0
              Chicago                      0.0            0.0          132.0
              Clarksburg                   0.0            0.0            0.0
              Columbus                     0.0            0.0            0.0
              Covington                    0.0            0.0            0.0
              Cridersville                 0.0            0.0            0.0
              Dallas                       0.0            0.0            0.0
              Dayton                       1.0            0.0            0.0
              Denison                      0.0            0.0            0.0
              Denver                       0.0            0.0            0.0
              Detroit                      0.0            0.0            0.0
              Dublin                       0.0            0.0            0.0
              Edmond                       0.0            0.0            0.0
              Elk Grove Village       187578.0       264033.0            0.0
              Fairfield                    0.0            0.0            0.0
              Farmers Branch               0.0            0.0            0.0
...                                        ...            ...            ...
1246785       Flushing                488717.0       553758.0       665005.0
1293817       New Orleans            1268070.0      1183852.0      1188361.0
1449603       New York City           784595.0       912702.0       954878.0
1498325       New York City           848998.0       875848.0       921054.0
1580901       Seattle                  25458.0       169053.0       261200.0
1713253       Fort Worth             1551142.0      1481645.0      1741983.0
1873614       Louisville             1471105.0      1737263.0      2121343.0
1925358       New York City          1393004.0      1475539.0      1517297.0
1943526       Austin                 1165344.0      1663634.0      1741770.0
2072137       New York City          1633290.0      1755963.0      1915696.0
2551581       Oklahoma City                0.0            0.0            0.0
3230688       Denver                 3252426.0      4460872.0      3929176.0
3407964       San Francisco           187081.0       206063.0       214163.0
3626444       Milwaukee              2305660.0      3110446.0      3332864.0
3764612       Garland                  63730.0        68557.0        76651.0
4328510       Los Angeles             364648.0       831942.0      1330704.0
4995400       Baton Rouge            4301756.0      4379048.0      5014857.0
5164067       Indianapolis           3993920.0      3883422.0      3962136.0
6879927       New York City                0.0      4792944.0      6278005.0
7822138       Phoenix                4246556.0      4270187.0      4836020.0
8142300       Columbus               4916291.0      5986462.0      6114913.0
9138734       Salt Lake City          723280.0      4549988.0      1605319.0
15580897      New York City           666584.0       655384.0       733993.0
19499502      Detroit                6953356.0     10480927.0     12544817.0
25414792      Dallas                15209318.0     17537788.0     21265872.0
36539028      Chicago               22101086.0     27521204.0     36219931.0
57820585      Houston               26356388.0     36991358.0     38794794.0
69044786      New York City         45099076.0     62630984.0     81960379.0
313686851     New York City        153577328.0    194388000.0    207367988.0
1155185000    Columbus             633131000.0    743268000.0    832455000.0

                                 2013 Deposits  2014 Deposits  2015 Deposits
2016 Deposits City
0             Abilene                      0.0   0.000000e+00   0.000000e+00
              Amarillo                     0.0   0.000000e+00   0.000000e+00
              Amityville                   0.0   0.000000e+00   0.000000e+00
              Appleton                     0.0   0.000000e+00   0.000000e+00
              Arlington                    0.0   0.000000e+00   0.000000e+00
              Atlanta                      0.0   0.000000e+00   0.000000e+00
              Austin                       0.0   0.000000e+00   0.000000e+00
              Baton Rouge                  0.0   0.000000e+00   0.000000e+00
              Beaver Dam                   0.0   0.000000e+00   0.000000e+00
              Bellaire                     0.0   0.000000e+00   0.000000e+00
              Boston                       0.0   0.000000e+00   0.000000e+00
              Bronx                        0.0   0.000000e+00   0.000000e+00
              Burton                       0.0   0.000000e+00   0.000000e+00
              Center Moriches              0.0   0.000000e+00   0.000000e+00
              Charleston                   0.0   0.000000e+00   0.000000e+00
              Chicago                      0.0   0.000000e+00   0.000000e+00
              Clarksburg                   0.0   0.000000e+00   0.000000e+00
              Columbus                     0.0   0.000000e+00   0.000000e+00
              Covington                    0.0   0.000000e+00   0.000000e+00
              Cridersville                 0.0   0.000000e+00   0.000000e+00
              Dallas                       0.0   0.000000e+00   0.000000e+00
              Dayton                       0.0   0.000000e+00   0.000000e+00
              Denison                      0.0   0.000000e+00   0.000000e+00
              Denver                       0.0   0.000000e+00   0.000000e+00
              Detroit                      0.0   0.000000e+00   0.000000e+00
              Dublin                       0.0   0.000000e+00   0.000000e+00
              Edmond                       0.0   0.000000e+00   0.000000e+00
              Elk Grove Village            0.0   0.000000e+00   0.000000e+00
              Fairfield                    0.0   0.000000e+00   0.000000e+00
              Farmers Branch               0.0   0.000000e+00   0.000000e+00
...                                        ...            ...            ...
1246785       Flushing                819541.0   9.840530e+05   1.101585e+06
1293817       New Orleans            1260663.0   1.187058e+06   1.293992e+06
1449603       New York City          1063416.0   1.399938e+06   1.395495e+06
1498325       New York City           988600.0   1.001439e+06   1.011190e+06
1580901       Seattle                1004800.0   1.277143e+06   1.466676e+06
1713253       Fort Worth             1644310.0   1.694211e+06   1.633979e+06
1873614       Louisville             1620436.0   1.732954e+06   2.012930e+06
1925358       New York City          1637099.0   1.656725e+06   1.780676e+06
1943526       Austin                 1681479.0   1.810582e+06   1.732639e+06
2072137       New York City          1999711.0   2.004986e+06   2.008347e+06
2551581       Oklahoma City                0.0   0.000000e+00   0.000000e+00
3230688       Denver                 5258851.0   3.476423e+06   3.047247e+06
3407964       San Francisco          2696197.0   2.876314e+06   3.061273e+06
3626444       Milwaukee              3541565.0   3.420665e+06   3.986938e+06
3764612       Garland                  84870.0   9.055700e+04   4.897140e+05
4328510       Los Angeles            1718837.0   3.811428e+06   3.909220e+06
4995400       Baton Rouge            5228898.0   5.400789e+06   5.348273e+06
5164067       Indianapolis           3924493.0   4.747598e+06   5.269524e+06
6879927       New York City          8334885.0   6.822099e+06   6.675447e+06
7822138       Phoenix                5582684.0   5.857726e+06   6.909171e+06
8142300       Columbus               6447273.0   7.142562e+06   6.915884e+06
9138734       Salt Lake City         1961286.0   1.507356e+06   9.078323e+06
15580897      New York City           833534.0   8.908170e+05   7.099781e+06
19499502      Detroit               14030471.0   1.812168e+07   1.885565e+07
25414792      Dallas                22966580.0   2.617379e+07   2.694455e+07
36539028      Chicago               39152650.0   4.710377e+07   4.332695e+07
57820585      Houston               52284845.0   8.240824e+07   6.070217e+07
69044786      New York City         85177807.0   9.832216e+07   8.456904e+07
313686851     New York City        223395353.0   2.415406e+08   2.612928e+08
1155185000    Columbus             916543000.0   1.032549e+09   1.069425e+09

[5366 rows x 9 columns]