# EDA on Chase Bank Branch Deposits

# Content

This dataset includes a record for every branch of Chase Bank in the United States, including the branch's name and number, date established as a bank office and (if applicable) acquired by JP Morgan Chase, physical location as street address, city, state, zip, and latitude and longitude coordinates, and the amount deposited at the branch (or the institution, for the bank's main office) between July 1 and June 30, 2016, in US dollars.


# Data Source

The location data was scraped from the Chase Bank website. The deposit data was compiled from the Federal Deposit Insurance Corporation's annual Summary of Deposits reports. This perticular data was taken from the Kaggle Link :- https://www.kaggle.com/chasebank/bank-deposits


# EDA Ideas

* Where did Chase Bank customers deposit the most money last year?
* Which bank branch has seen the most growth in deposits?
* How did the bank network of branch locations grow over the past century?
* What city has the most bank branches per capita?

In [263]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt #for graphing
%matplotlib inline
import seaborn as sns #for Plotting
local_path = "C:/Users/Aravind/Desktop/UpX Academy/Data Science Track - 01/PROJECTS TO BE DOING/Project Datasets/Project_Bank/Chase bank-deposits/database.csv"
input_data = pd.read_csv(local_path)                           #load CSV file from local directory
input_data.head()                                         # Preview the first 5 lines of the loaded data

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
0,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,NaN,1111 Polaris Parkway,Columbus,Delaware,OH,43240,40.14453,-82.99115,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
1,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,NaN,676 White Plains Road,Scarsdale,Westchester,NY,10583,40.97008,-73.80670,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558
2,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,NaN,410 Northern Boulevard,Great Neck,Nassau,NY,11021,40.77944,-73.72240,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940
3,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,NaN,353 North Central Avenue,Hartsdale,Westchester,NY,10530,41.02654,-73.79168,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233
4,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,NaN,335 Rockaway Turnpike,Lawrence,Nassau,NY,11559,40.62715,-73.73675,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594

In [154]:
df= pd.DataFrame(input_data)          
input_data.shape

(5413, 20)

In [155]:
df.isnull().sum()             #Identifying number of Nan Values

Institution Name       0
Main Office            0
Branch Name            0
Branch Number          0
Established Date       0
Acquired Date       1615
Street Address         0
City                   0
County                 0
State                  0
Zipcode                0
Latitude              66
Longitude             66
2010 Deposits        740
2011 Deposits        578
2012 Deposits        329
2013 Deposits        175
2014 Deposits         56
2015 Deposits         19
2016 Deposits          0
dtype: int64

In [156]:
# Since Latitude, Longitude are not required for the purpose of this EDA, we shall remove those columns
df.drop(['Latitude','Longitude'], axis = 1, inplace = True)
df

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
0,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,NaN,1111 Polaris Parkway,Columbus,Delaware,OH,43240,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
1,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,NaN,676 White Plains Road,Scarsdale,Westchester,NY,10583,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558
2,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,NaN,410 Northern Boulevard,Great Neck,Nassau,NY,11021,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940
3,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,NaN,353 North Central Avenue,Hartsdale,Westchester,NY,10530,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233
4,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,NaN,335 Rockaway Turnpike,Lawrence,Nassau,NY,11559,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594
5,JPMorgan Chase Bank,0,Mount Vernon Branch,9,02/25/1964,NaN,22 West First Street,Mount Vernon,Westchester,NY,10550,146820.0,136672.0,140678.0,154313.0,1.487070e+05,1.454990e+05,151949
6,JPMorgan Chase Bank,0,Castle Hill Branch,12,12/11/1965,NaN,784 Castle Hill Avenue,Bronx,Bronx,NY,10473,75131.0,80172.0,82333.0,94538.0,9.704600e+04,1.071660e+05,110592
7,JPMorgan Chase Bank,0,Burnside Avenue Branch,15,02/14/1922,NaN,5 West Burnside Avenue,Bronx,Bronx,NY,10453,39888.0,42546.0,43800.0,45867.0,5.136300e+04,5.669300e+04,62993
8,JPMorgan Chase Bank,0,Gun Hill Branch,16,12/18/1950,NaN,1308 East Gun Hill Road,Bronx,Bronx,NY,10469,73702.0,70049.0,70447.0,78946.0,8.067700e+04,8.275600e+04,88954
9,JPMorgan Chase Bank,0,Kingsbridge Road Branch,18,08/18/1924,NaN,66 East Kingsbridge Road,Bronx,Bronx,NY,10468,69778.0,72816.0,74729.0,75470.0,7.875900e+04,8.397800e+04,88674
10,JPMorgan Chase Bank,0,Riverdale Branch,20,06/01/1950,NaN,3775 Riverdale Avenue,Bronx,Bronx,NY,10463,304300.0,311508.0,330224.0,360791.0,3.672020e+05,3.644350e+05,387333
11,JPMorgan Chase Bank,0,Washington Heights Branch,21,01/02/1909,NaN,1421 Saint Nicholas Avenue,New York City,New York,NY,10033,136997.0,142882.0,151420.0,158669.0,1.578620e+05,1.633360e+05,179566
12,JPMorgan Chase Bank,0,Broadway Branch,22,07/12/1926,NaN,5581 Broadway,Bronx,Bronx,NY,10463,113665.0,112165.0,122634.0,126619.0,1.240310e+05,1.344750e+05,131545
13,JPMorgan Chase Bank,0,Westchester Square Branch,24,06/29/1959,NaN,2725 East Tremont Avenue,Bronx,Bronx,NY,10461,155289.0,157396.0,161177.0,169839.0,1.674950e+05,1.835440e+05,194609
14,JPMorgan Chase Bank,0,Bay Parkway and 85th St Branch,26,03/25/1964,NaN,8418 Bay Parkway,Brooklyn,Kings,NY,11214,187794.0,195965.0,214398.0,227519.0,2.521240e+05,2.785470e+05,297821
15,JPMorgan Chase Bank,0,Grand Army Plaza Branch,33,03/14/1927,NaN,401 Flatbush Avenue,Brooklyn,Kings,NY,11238,135506.0,136764.0,146051.0,163797.0,1.780010e+05,2.276470e+05,255084
16,JPMorgan Chase Bank,0,Carroll Gardens Branch,34,06/09/1913,NaN,79 Hamilton Avenue,Brooklyn,Kings,NY,11231,46199.0,51254.0,54859.0,70898.0,6.982400e+04,7.753600e+04,79441
17,JPMorgan Chase Bank,0,Third Avenue & 51st Street Branch,37,05/05/1961,NaN,850 Third Avenue,New York City,New York,NY,10022,463550.0,456859.0,508804.0,540179.0,5.957860e+05,5.817250e+05,643283
18,JPMorgan Chase Bank,0,East End Branch,38,05/22/1961,NaN,1495 York Avenue,New York City,New York,NY,10075,299301.0,306225.0,317068.0,359173.0,4.107370e+05,4.251690e+05,447613
19,JPMorgan Chase Bank,0,Audubon Branch,40,04/02/1917,NaN,3940 Broadway,New York City,New York,NY,10032,91380.0,97219.0,104093.0,106875.0,1.142920e+05,1.222200e+05,139830
20,JPMorgan Chase Bank,0,First Avenue & 72nd Street Branch,41,06/15/1964,NaN,360 East 72nd Street,New York City,New York,NY,10021,384454.0,364852.0,387515.0,440753.0,5.005740e+05,4.838350e+05,536219
21,JPMorgan Chase Bank,0,Soho Branch,42,10/18/1954,NaN,525 Broadway,New York City,New York,NY,10012,286082.0,320252.0,344141.0,385854.0,4.888860e+05,5.081220e+05,615029
22,JPMorgan Chase Bank,0,Times Square Branch,44,05/02/1927,NaN,3 Times Square,New York City,New York,NY,10036,313024.0,338725.0,432032.0,449569.0,4.740470e+05,4.959290e+05,532606
23,JPMorgan Chase Bank,0,Broadway Lispenard Branch,45,08/01/1922,NaN,407 Broadway,New York City,New York,NY,10013,150592.0,160595.0,204645.0,244811.0,2.757260e+05,3.069020e+05,333954
24,JPMorgan Chase Bank,0,Chinatown Branch,46,11/24/1919,NaN,180 Canal Street,New York City,New York,NY,10013,480964.0,523824.0,589914.0,638030.0,7.156070e+05,7.914130e+05,892267
25,JPMorgan Chase Bank,0,Yorkville Branch,52,06/15/1914,NaN,126 East 86th Street,New York City,New York,NY,10028,383871.0,410662.0,437302.0,490441.0,5.388600e+05,5.265580e+05,535283
26,JPMorgan Chase Bank,0,Columbus Avenue & 72nd Street Branch,62,10/18/1954,NaN,260 Columbus Avenue,New York City,New York,NY,10023,311593.0,350759.0,338917.0,356374.0,3.843710e+05,3.830140e+05,429310
27,JPMorgan Chase Bank,0,Bloomingdales Branch,63,08/02/1915,NaN,770 Lexington Avenue,New York City,New York,NY,10065,273852.0,284524.0,295659.0,301179.0,3.650230e+05,3.569220e+05,353925
28,JPMorgan Chase Bank,0,London Terrace Branch,64,05/01/1931,NaN,475 West 23rd Street,New York City,New York,NY,10011,143289.0,163960.0,168332.0,194739.0,2.245360e+05,2.455730e+05,249426
29,JPMorgan Chase Bank,0,Tremont Branch,71,10/18/1954,NaN,601 East Tremont Avenue,Bronx,Bronx,NY,10457,48180.0,43965.0,45267.0,48717.0,5.394900e+04,5.609300e+04,56539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5383,JPMorgan Chase Bank,0,Polo Club Shoppes Branch,7952,06/02/2015,NaN,17955 South Military Trail,Boca Raton,Palm Beach,FL,33496,NaN,NaN,NaN,NaN,NaN,1.470000e+03,19184
5384,JPMorgan Chase Bank,0,Brookhurst and Mcfadden Branch,7953,07/07/2015,NaN,15512 Brrokhurst Street,Westminster,Orange,CA,92683,NaN,NaN,NaN,NaN,NaN,NaN,24401
5385,JPMorgan Chase Bank,0,US 1 and Pga Boulevard Branch,7955,07/15/2014,NaN,11364 US Highway 1,Palm Beach Gardens,Palm Beach,FL,33408,NaN,NaN,NaN,NaN,NaN,6.159000e+03,15358
5386,JPMorgan Chase Bank,0,San Marco Branch,7956,09/03/2014,NaN,11364 US Highway 1,Jacksonville,Duval,FL,32219,NaN,NaN,NaN,NaN,NaN,6.153000e+03,14266
5387,JPMorgan Chase Bank,0,Park and Greenbay Branch,7957,09/04/2014,NaN,332 Park Avenue,Glencoe,Cook,IL,60022,NaN,NaN,NaN,NaN,NaN,8.045000e+03,15646
5388,JPMorgan Chase Bank,0,Bedford Hills Branch,7958,11/04/2014,NaN,711 Bedford Road,Bedford Hills,Westchester,NY,10507,NaN,NaN,NaN,NaN,NaN,8.302000e+03,8848
5389,JPMorgan Chase Bank,0,Siesta and Tamiami Branch,7959,12/16/2014,NaN,3500 South Tamiami Trail,Sarasota,Sarasota,FL,34239,NaN,NaN,NaN,NaN,NaN,6.474000e+03,15235
5390,JPMorgan Chase Bank,0,Gellert and Westborough Branch,7960,01/27/2015,NaN,"2248 Westborough Boulevard, Suite 601 and 602",South San Francisco,San Mateo,CA,94080,NaN,NaN,NaN,NaN,NaN,5.406000e+03,15856
5391,JPMorgan Chase Bank,0,Federal Highway and 5th Avenue Branch,7961,02/10/2015,NaN,1850 North Federal Highway,Boca Raton,Palm Beach,FL,33432,NaN,NaN,NaN,NaN,NaN,1.742000e+03,7331
5392,JPMorgan Chase Bank,0,Norwalk Waypointe Branch,7962,04/14/2015,NaN,515 West Avenue,Norwalk,Fairfield,CT,6850,NaN,NaN,NaN,NaN,NaN,3.990000e+02,3888
5393,JPMorgan Chase Bank,0,Fleming Island Cr 220 Branch,7963,04/21/2015,NaN,1516 Cr 220,Fleming Island,Clay,FL,32003,NaN,NaN,NaN,NaN,NaN,2.914000e+03,10912
5394,JPMorgan Chase Bank,0,Manatee and 75th Branch,7964,04/23/2015,NaN,7206 Manatee Avenue West,Bradenton,Manatee,FL,34209,NaN,NaN,NaN,NaN,NaN,1.046600e+04,20377
5395,JPMorgan Chase Bank,0,Camino Alto & East Blithdale Banking Center,7965,07/21/2015,NaN,630 East Blithedale Ave,Mill Valley,Marin,CA,94941,NaN,NaN,NaN,NaN,NaN,NaN,18398
5396,JPMorgan Chase Bank,0,North Flemington Branch,7967,07/21/2015,NaN,318 State Route 31,Flemington,Hunterdon,NJ,8822,NaN,NaN,NaN,NaN,NaN,NaN,7399
5397,JPMorgan Chase Bank,0,Village Of Merrick Park Branch,7969,09/28/2015,NaN,4101 Ponce De Leon Blvd,Coral Gables,Miami-Dade,FL,33146,NaN,NaN,NaN,NaN,NaN,NaN,90046
5398,JPMorgan Chase Bank,0,Forest Hill Blvd and 441,7970,10/13/2015,NaN,10100 Forest Hill Blvd,Wellington,Palm Beach,FL,33414,NaN,NaN,NaN,NaN,NaN,NaN,8135
5399,JPMorgan Chase Bank,0,Easter and University Branch,7971,10/26/2015,NaN,6900 South University Blvd,Centennial,Arapahoe,CO,80122,NaN,NaN,NaN,NaN,NaN,NaN,55675
5400,JPMorgan Chase Bank,0,Hamilton and Jefferson Branch,7972,10/26/2015,NaN,125 Ne Jefferson Avenue,Peoria,Peoria,IL,61602,NaN,NaN,NaN,NaN,NaN,NaN,170769
5401,JPMorgan Chase Bank,0,Coconut Grove Branch,7973,11/10/2015,NaN,3015 Grand Avenue,Miami,Miami-Dade,FL,33133,NaN,NaN,NaN,NaN,NaN,NaN,6634
5402,JPMorgan Chase Bank,0,Park Place Branch,7974,11/17/2015,NaN,"2967 Michelson Drive, Suite A",Irvine,Orange,CA,92612,NaN,NaN,NaN,NaN,NaN,NaN,11600
5403,JPMorgan Chase Bank,0,LA Paz Road and Aliso Creek Branch,7975,12/03/2015,NaN,23970 Aliso Creek Road,Laguna Niguel,Orange,CA,92677,NaN,NaN,NaN,NaN,NaN,NaN,4809
5404,JPMorgan Chase Bank,0,Oklahoma City Downtown Branch,7976,12/07/2015,NaN,320 North Broadway Avenue,Oklahoma City,Oklahoma,OK,73102,NaN,NaN,NaN,NaN,NaN,NaN,2551581
5405,JPMorgan Chase Bank,0,Tampa Downtown Branch,7978,04/26/2016,NaN,300 North Franklin Street,Tampa,Hillsborough,FL,33602,NaN,NaN,NaN,NaN,NaN,NaN,684
5406,JPMorgan Chase Bank,0,Bartram Park and Old St. Augustine Branch,7979,05/10/2016,NaN,"13920 Old St. Augustine Road, Unit 107",Jacksonville,Duval,FL,32258,NaN,NaN,NaN,NaN,NaN,NaN,2271
5407,JPMorgan Chase Bank,0,Desoto and Ventura Branch,7980,05/24/2016,NaN,20900 Ventura Blvd,Woodland Hills,Los Angeles,CA,91364,NaN,NaN,NaN,NaN,NaN,NaN,2571
5408,JPMorgan Chase Bank,0,Alameda and Compton Blvd Branch,7981,11/03/2015,NaN,251 E Compton Blvd,Compton,Los Angeles,CA,90220,NaN,NaN,NaN,NaN,NaN,NaN,3446
5409,JPMorgan Chase Bank,0,Charleston and Rancho,7982,02/02/2016,NaN,2311 W Chafrleston Blvd,Las Vegas,Clark,NV,89102,NaN,NaN,NaN,NaN,NaN,NaN,2666
5410,JPMorgan Chase Bank,0,Los Olivos Branch,7984,03/15/2016,NaN,8593 Irvine Center Drive,Irvine,Orange,CA,92618,NaN,NaN,NaN,NaN,NaN,NaN,6689
5411,JPMorgan Chase Bank,0,Lake Forest Branch,7988,01/01/2016,NaN,5660 Read Blvd,New Orleans,Orleans,LA,70127,NaN,NaN,NaN,NaN,NaN,NaN,94133
5412,JPMorgan Chase Bank,0,Buffalo-Mm Branch,7989,01/01/2016,NaN,350 Main Street,Buffalo,Erie,NY,14202,NaN,NaN,NaN,NaN,NaN,NaN,45596

In [157]:
df.groupby('Branch Name').size().count()
# Here we can see there are total 5317 branches present.

5317

## *In the year 2016

In [311]:
location = df.groupby(['State', '2016 Deposits']).sum()

In [278]:
deposit_2016 = df.groupby(['2016 Deposits', 'City'])

In [314]:
deposit_2016.sum()

                                  Main Office  Branch Number       Zipcode  \
2016 Deposits City
0.000000e+00  Abilene            0.000000e+00   3.432000e+03  7.960100e+04
              Amarillo           0.000000e+00   2.363000e+03  7.910100e+04
              Amityville         0.000000e+00   1.283000e+03  1.170100e+04
              Appleton           0.000000e+00   2.897000e+03  5.491100e+04
              Arlington          0.000000e+00   5.876000e+03  2.280370e+05
              Atlanta            0.000000e+00   4.408000e+03  3.030500e+04
              Austin             0.000000e+00   9.234000e+03  2.361970e+05
              Baton Rouge        0.000000e+00   7.789000e+03  2.124180e+05
              Beaver Dam         0.000000e+00   2.904000e+03  5.391600e+04
              Bellaire           0.000000e+00   1.822000e+03  4.390600e+04
              Boston             0.000000e+00   4.407000e+03  2.110000e+03
              Bronx              0.000000e+00   2.566000e+03  2.093700e+04
              Burton             0.000000e+00   3.446000e+03  4.852900e+04
              Center Moriches    0.000000e+00   1.285000e+03  1.193400e+04
              Charleston         0.000000e+00   1.811000e+03  2.530100e+04
              Chicago            0.000000e+00   1.202500e+04  1.212120e+05
              Clarksburg         0.000000e+00   1.814000e+03  2.630100e+04
              Columbus           0.000000e+00   8.592000e+03  2.161070e+05
              Covington          0.000000e+00   2.167000e+03  7.043300e+04
              Cridersville       0.000000e+00   1.738000e+03  4.580600e+04
              Dallas             0.000000e+00   2.550200e+04  6.017580e+05
              Dayton             0.000000e+00   1.749000e+03  4.540200e+04
              Denison            0.000000e+00   2.362000e+03  7.502000e+04
              Denver             0.000000e+00   4.404000e+03  8.020200e+04
              Detroit            0.000000e+00   2.624000e+03  4.822300e+04
              Dublin             0.000000e+00   1.571000e+03  4.301600e+04
              Edmond             0.000000e+00   3.318000e+03  7.303400e+04
              Elk Grove Village  0.000000e+00   3.152000e+03  6.000700e+04
              Fairfield          0.000000e+00   1.479000e+03  7.004000e+03
              Farmers Branch     0.000000e+00   1.407000e+03  7.523400e+04
...                                       ...            ...           ...
1.293817e+06  New Orleans        0.000000e+00   2.113000e+03  7.017000e+04
1.449603e+06  New York City      0.000000e+00   7.880000e+02  1.001700e+04
1.498325e+06  New York City      0.000000e+00   7.940000e+02  1.003800e+04
1.580901e+06  Seattle            0.000000e+00   6.502000e+03  9.810100e+04
1.713253e+06  Fort Worth         0.000000e+00   2.326000e+03  7.610200e+04
1.873614e+06  Louisville         0.000000e+00   3.194000e+03  4.020200e+04
1.925358e+06  New York City      0.000000e+00   1.235000e+03  1.000500e+04
1.943526e+06  Austin             0.000000e+00   2.230000e+03  7.870100e+04
2.072137e+06  New York City      0.000000e+00   1.050000e+02  1.002000e+04
2.551581e+06  Oklahoma City      0.000000e+00   7.976000e+03  7.310200e+04
3.230688e+06  Denver             0.000000e+00   3.087000e+03  8.020200e+04
3.407964e+06  San Francisco      0.000000e+00   4.440000e+03  9.412200e+04
3.626444e+06  Milwaukee          0.000000e+00   2.852000e+03  5.320200e+04
3.764612e+06  Garland            0.000000e+00   3.684000e+03  7.504000e+04
4.328510e+06  Los Angeles        0.000000e+00   4.501000e+03  9.001700e+04
4.995400e+06  Baton Rouge        0.000000e+00   2.036000e+03  7.080100e+04
5.164067e+06  Indianapolis       0.000000e+00   2.928000e+03  4.620400e+04
6.879927e+06  New York City      0.000000e+00   7.078000e+03  1.003600e+04
7.822138e+06  Phoenix            0.000000e+00   2.414000e+03  8.500400e+04
8.142300e+06  Columbus           0.000000e+00   3.481000e+03  4.321500e+04
9.138734e+06  Salt Lake City     0.000000e+00   2.595000e+03  8.411100e+04
1.558090e+07  New York City      0.000000e+00   8.500000e+01  1.001600e+04
1.949950e+07  Detroit            0.000000e+00   2.616000e+03  4.822600e+04
2.541479e+07  Dallas             0.000000e+00   4.311000e+03  7.520100e+04
3.653903e+07  Chicago            0.000000e+00   1.838000e+03  6.060300e+04
5.782058e+07  Houston            0.000000e+00   1.315000e+03  7.700200e+04
6.904479e+07  New York City      0.000000e+00   5.440000e+02  1.001700e+04
3.136869e+08  New York City      0.000000e+00   3.586000e+03  1.001700e+04
1.155185e+09  Columbus           1.000000e+00   0.000000e+00  4.324000e+04
4.620740e+09  4620740036         4.620740e+09   4.620740e+09  4.620740e+09

                                 2010 Deposits  2011 Deposits  2012 Deposits  \
2016 Deposits City
0.000000e+00  Abilene             0.000000e+00   3.000000e+00   0.000000e+00
              Amarillo            0.000000e+00   0.000000e+00   0.000000e+00
              Amityville          0.000000e+00   0.000000e+00   0.000000e+00
              Appleton            0.000000e+00   0.000000e+00   0.000000e+00
              Arlington           0.000000e+00   0.000000e+00   0.000000e+00
              Atlanta             0.000000e+00   0.000000e+00   0.000000e+00
              Austin              0.000000e+00   0.000000e+00   0.000000e+00
              Baton Rouge         0.000000e+00   0.000000e+00   0.000000e+00
              Beaver Dam          0.000000e+00   0.000000e+00   0.000000e+00
              Bellaire            0.000000e+00   0.000000e+00   0.000000e+00
              Boston              0.000000e+00   0.000000e+00   0.000000e+00
              Bronx               0.000000e+00   0.000000e+00   0.000000e+00
              Burton              0.000000e+00   0.000000e+00   0.000000e+00
              Center Moriches     0.000000e+00   0.000000e+00   0.000000e+00
              Charleston          0.000000e+00   0.000000e+00   0.000000e+00
              Chicago             0.000000e+00   0.000000e+00   1.320000e+02
              Clarksburg          0.000000e+00   0.000000e+00   0.000000e+00
              Columbus            0.000000e+00   0.000000e+00   0.000000e+00
              Covington           0.000000e+00   0.000000e+00   0.000000e+00
              Cridersville        0.000000e+00   0.000000e+00   0.000000e+00
              Dallas              0.000000e+00   0.000000e+00   0.000000e+00
              Dayton              1.000000e+00   0.000000e+00   0.000000e+00
              Denison             0.000000e+00   0.000000e+00   0.000000e+00
              Denver              0.000000e+00   0.000000e+00   0.000000e+00
              Detroit             0.000000e+00   0.000000e+00   0.000000e+00
              Dublin              0.000000e+00   0.000000e+00   0.000000e+00
              Edmond              0.000000e+00   0.000000e+00   0.000000e+00
              Elk Grove Village   1.875780e+05   2.640330e+05   0.000000e+00
              Fairfield           0.000000e+00   0.000000e+00   0.000000e+00
              Farmers Branch      0.000000e+00   0.000000e+00   0.000000e+00
...                                        ...            ...            ...
1.293817e+06  New Orleans         1.268070e+06   1.183852e+06   1.188361e+06
1.449603e+06  New York City       7.845950e+05   9.127020e+05   9.548780e+05
1.498325e+06  New York City       8.489980e+05   8.758480e+05   9.210540e+05
1.580901e+06  Seattle             2.545800e+04   1.690530e+05   2.612000e+05
1.713253e+06  Fort Worth          1.551142e+06   1.481645e+06   1.741983e+06
1.873614e+06  Louisville          1.471105e+06   1.737263e+06   2.121343e+06
1.925358e+06  New York City       1.393004e+06   1.475539e+06   1.517297e+06
1.943526e+06  Austin              1.165344e+06   1.663634e+06   1.741770e+06
2.072137e+06  New York City       1.633290e+06   1.755963e+06   1.915696e+06
2.551581e+06  Oklahoma City       0.000000e+00   0.000000e+00   0.000000e+00
3.230688e+06  Denver              3.252426e+06   4.460872e+06   3.929176e+06
3.407964e+06  San Francisco       1.870810e+05   2.060630e+05   2.141630e+05
3.626444e+06  Milwaukee           2.305660e+06   3.110446e+06   3.332864e+06
3.764612e+06  Garland             6.373000e+04   6.855700e+04   7.665100e+04
4.328510e+06  Los Angeles         3.646480e+05   8.319420e+05   1.330704e+06
4.995400e+06  Baton Rouge         4.301756e+06   4.379048e+06   5.014857e+06
5.164067e+06  Indianapolis        3.993920e+06   3.883422e+06   3.962136e+06
6.879927e+06  New York City       0.000000e+00   4.792944e+06   6.278005e+06
7.822138e+06  Phoenix             4.246556e+06   4.270187e+06   4.836020e+06
8.142300e+06  Columbus            4.916291e+06   5.986462e+06   6.114913e+06
9.138734e+06  Salt Lake City      7.232800e+05   4.549988e+06   1.605319e+06
1.558090e+07  New York City       6.665840e+05   6.553840e+05   7.339930e+05
1.949950e+07  Detroit             6.953356e+06   1.048093e+07   1.254482e+07
2.541479e+07  Dallas              1.520932e+07   1.753779e+07   2.126587e+07
3.653903e+07  Chicago             2.210109e+07   2.752120e+07   3.621993e+07
5.782058e+07  Houston             2.635639e+07   3.699136e+07   3.879479e+07
6.904479e+07  New York City       4.509908e+07   6.263098e+07   8.196038e+07
3.136869e+08  New York City       1.535773e+08   1.943880e+08   2.073680e+08
1.155185e+09  Columbus            6.331310e+08   7.432680e+08   8.324550e+08
4.620740e+09  4620740036          4.620740e+09   4.620740e+09   4.620740e+09

                                 2013 Deposits  2014 Deposits  2015 Deposits
2016 Deposits City
0.000000e+00  Abilene             0.000000e+00   0.000000e+00   0.000000e+00
              Amarillo            0.000000e+00   0.000000e+00   0.000000e+00
              Amityville          0.000000e+00   0.000000e+00   0.000000e+00
              Appleton            0.000000e+00   0.000000e+00   0.000000e+00
              Arlington           0.000000e+00   0.000000e+00   0.000000e+00
              Atlanta             0.000000e+00   0.000000e+00   0.000000e+00
              Austin              0.000000e+00   0.000000e+00   0.000000e+00
              Baton Rouge         0.000000e+00   0.000000e+00   0.000000e+00
              Beaver Dam          0.000000e+00   0.000000e+00   0.000000e+00
              Bellaire            0.000000e+00   0.000000e+00   0.000000e+00
              Boston              0.000000e+00   0.000000e+00   0.000000e+00
              Bronx               0.000000e+00   0.000000e+00   0.000000e+00
              Burton              0.000000e+00   0.000000e+00   0.000000e+00
              Center Moriches     0.000000e+00   0.000000e+00   0.000000e+00
              Charleston          0.000000e+00   0.000000e+00   0.000000e+00
              Chicago             0.000000e+00   0.000000e+00   0.000000e+00
              Clarksburg          0.000000e+00   0.000000e+00   0.000000e+00
              Columbus            0.000000e+00   0.000000e+00   0.000000e+00
              Covington           0.000000e+00   0.000000e+00   0.000000e+00
              Cridersville        0.000000e+00   0.000000e+00   0.000000e+00
              Dallas              0.000000e+00   0.000000e+00   0.000000e+00
              Dayton              0.000000e+00   0.000000e+00   0.000000e+00
              Denison             0.000000e+00   0.000000e+00   0.000000e+00
              Denver              0.000000e+00   0.000000e+00   0.000000e+00
              Detroit             0.000000e+00   0.000000e+00   0.000000e+00
              Dublin              0.000000e+00   0.000000e+00   0.000000e+00
              Edmond              0.000000e+00   0.000000e+00   0.000000e+00
              Elk Grove Village   0.000000e+00   0.000000e+00   0.000000e+00
              Fairfield           0.000000e+00   0.000000e+00   0.000000e+00
              Farmers Branch      0.000000e+00   0.000000e+00   0.000000e+00
...                                        ...            ...            ...
1.293817e+06  New Orleans         1.260663e+06   1.187058e+06   1.293992e+06
1.449603e+06  New York City       1.063416e+06   1.399938e+06   1.395495e+06
1.498325e+06  New York City       9.886000e+05   1.001439e+06   1.011190e+06
1.580901e+06  Seattle             1.004800e+06   1.277143e+06   1.466676e+06
1.713253e+06  Fort Worth          1.644310e+06   1.694211e+06   1.633979e+06
1.873614e+06  Louisville          1.620436e+06   1.732954e+06   2.012930e+06
1.925358e+06  New York City       1.637099e+06   1.656725e+06   1.780676e+06
1.943526e+06  Austin              1.681479e+06   1.810582e+06   1.732639e+06
2.072137e+06  New York City       1.999711e+06   2.004986e+06   2.008347e+06
2.551581e+06  Oklahoma City       0.000000e+00   0.000000e+00   0.000000e+00
3.230688e+06  Denver              5.258851e+06   3.476423e+06   3.047247e+06
3.407964e+06  San Francisco       2.696197e+06   2.876314e+06   3.061273e+06
3.626444e+06  Milwaukee           3.541565e+06   3.420665e+06   3.986938e+06
3.764612e+06  Garland             8.487000e+04   9.055700e+04   4.897140e+05
4.328510e+06  Los Angeles         1.718837e+06   3.811428e+06   3.909220e+06
4.995400e+06  Baton Rouge         5.228898e+06   5.400789e+06   5.348273e+06
5.164067e+06  Indianapolis        3.924493e+06   4.747598e+06   5.269524e+06
6.879927e+06  New York City       8.334885e+06   6.822099e+06   6.675447e+06
7.822138e+06  Phoenix             5.582684e+06   5.857726e+06   6.909171e+06
8.142300e+06  Columbus            6.447273e+06   7.142562e+06   6.915884e+06
9.138734e+06  Salt Lake City      1.961286e+06   1.507356e+06   9.078323e+06
1.558090e+07  New York City       8.335340e+05   8.908170e+05   7.099781e+06
1.949950e+07  Detroit             1.403047e+07   1.812168e+07   1.885565e+07
2.541479e+07  Dallas              2.296658e+07   2.617379e+07   2.694455e+07
3.653903e+07  Chicago             3.915265e+07   4.710377e+07   4.332695e+07
5.782058e+07  Houston             5.228484e+07   8.240824e+07   6.070217e+07
6.904479e+07  New York City       8.517781e+07   9.832216e+07   8.456904e+07
3.136869e+08  New York City       2.233954e+08   2.415406e+08   2.612928e+08
1.155185e+09  Columbus            9.165430e+08   1.032549e+09   1.069425e+09
4.620740e+09  4620740036          4.620740e+09   4.620740e+09   4.620740e+09

[5367 rows x 9 columns]