In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style='ticks')

pd.set_option('display.max_columns', None)

In [0]:
from google.colab import files
files.upload()

In [0]:
df = pd.read_csv('Hackathon_Working_Data.csv')
df_test = pd.read_csv('Hackathon_Validation_Data.csv')
df.head(2)

,MONTH,STORECODE,DAY,BILL_ID,BILL_AMT,QTY,VALUE,PRICE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,M1,N1,4,T375,225.0,1.0,225.0,225.0,BUTTER MARGR (4/94),BUTTER,SALTED,G C M M F,AMUL,AMUL
1,M1,N1,4,T379,95.0,1.0,95.0,95.0,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,PARLE PRODS,MELODY,MELODY CHOCOLATY

In [0]:
df = df.drop(['DAY', 'BILL_ID', 'SGRP', 'SSGRP', 'CMP', 'MBRD', 'BRD'], axis=1).sort_values('GRP')
df.head()

      MONTH STORECODE  BILL_AMT  QTY  VALUE  PRICE                     GRP
3965     M1        N4     115.0  1.0  115.0  115.0     AFTER SHAVE LOTIONS
7108     M1        N8     310.0  1.0  120.0  120.0     AFTER SHAVE LOTIONS
23265    M3        N5     295.0  1.0  120.0  120.0     AFTER SHAVE LOTIONS
5418     M1        N7      20.0  2.0   20.0   10.0  AGARBATTI & DHOOPBATTI
22284    M3        N5     489.0  5.0   50.0   10.0  AGARBATTI & DHOOPBATTI

In [0]:
df.MONTH = df.MONTH.astype('category')
df.STORECODE = df.STORECODE.astype('category')
df.GRP = df.GRP.astype('category')

In [0]:
df_test.MONTH = df_test.MONTH.astype('category')
df_test.STORECODE = df_test.STORECODE.astype('category')
df_test.GRP = df_test.GRP.astype('category')

In [0]:
df.describe()

           BILL_AMT           QTY         VALUE         PRICE
count  26985.000000  26985.000000  26985.000000  26985.000000
mean     278.754206      4.105021     67.808551     52.812982
std      541.398504     95.666947    118.005978     84.987730
min        0.000000      0.500000      0.000000      0.000000
25%       40.000000      1.000000     10.000000     10.000000
50%      111.000000      1.000000     30.000000     22.000000
75%      280.000000      2.000000     80.000000     64.000000
max     7292.000000  12000.000000   3150.000000   3150.000000

In [0]:
X = df.iloc[:, 2:6].values

In [0]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler() 

df_scaled = scaler.fit_transform(X)

In [0]:
df_scaled

array([[-3.02470803e-01, -3.24571749e-02,  3.99914683e-01,
         7.31731153e-01],
       [ 5.77141841e-02, -3.24571749e-02,  4.42286203e-01,
         7.90564265e-01],
       [ 3.00076466e-02, -3.24571749e-02,  4.42286203e-01,
         7.90564265e-01],
       ...,
       [ 9.51711793e-01, -1.09780083e-03,  1.22192217e+00,
         2.20056551e-03],
       [ 5.76749986e-01, -3.24571749e-02, -1.25492163e-01,
         2.20056551e-03],
       [-1.89797551e-01, -3.24571749e-02, -1.42440771e-01,
        -2.13326793e-02]])

In [0]:

from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=81)

y_kmeans_preds = kmeans.fit_predict(df_scaled)
y_kmeans_preds

In [0]:
y_kmeans_preds[:50]

In [0]:
preds = pd.DataFrame(y_kmeans_preds, columns=['TOTALVALUE'])

In [0]:
submission = pd.DataFrame({
        "ID": test["ID"],
        "TOTALVALUE": preds.astype(int)
    })
submission.to_csv('./submission.csv', index=False)
print(submission)

# 2nd method

In [0]:
from google.colab import files
files.download('submission.csv')

In [0]:
from sklearn import preprocessing
from sklearn.preprocessing import normalize

X_train = train.drop("TOTALVALUE", axis=1)
X_train = X_train.drop("ID", axis=1)
Y_train = train["TOTALVALUE"].values
X_test = test.drop("ID", axis=1)

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(X_train)
X_train = pd.DataFrame(np_scaled)

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(X_test)
X_test = pd.DataFrame(np_scaled)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [0]:
X_train.shape, Y_train.shape, X_test.shape

In [0]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [0]:
#Linear Regression

linreg = LinearRegression()
linreg.fit(X_train, Y_train)
Y_pred = linreg.predict(X_test)
acc_log = round(linreg.score(X_train, Y_train) * 100, 2)
acc_log

In [0]:
#K-nearest (k-NN)
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

In [0]:
# Gaussian Naive Bayes

gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, Y_train) * 100, 2)
acc_gaussian

In [0]:
#Support Vector Machines (SVM)
svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, Y_train) * 100, 2)
acc_svc

In [0]:
# Linear SVC

linear_svc = LinearSVC()
linear_svc.fit(X_train, Y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, Y_train) * 100, 2)
acc_linear_svc

In [0]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

In [0]:
#Perceptron
perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, Y_train) * 100, 2)
acc_perceptron

In [0]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)
acc_sgd

In [0]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

In [0]:
models = pd.DataFrame({
        'Model': ['Support Vector Machines', 'KNN', 'Linear Regression', 'Random Forest', 'Naive Bayes', 'Perceptron',
                  'Stochastic Gradient Descent', 'Linear SVC', 'Decision Tree'],
        'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]
    })
models.sort_values(by='Score', ascending=False)

In [0]:
submission = pd.DataFrame({
        "ID": test["ID"],
        "TOTALVALUE": Y_pred.astype(int)
    })
submission.to_csv('./submission.csv', index=False)
print(submission)

In [0]:
from google.colab import files
files.download('submission.csv')