In [0]:
from google.colab import files
files.upload()

In [0]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier

from lightgbm import LGBMClassifier
import lightgbm as lgb


from xgboost import XGBClassifier
import xgboost as xgb

from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import ParameterGrid
from sklearn.model_selection import KFold
from sklearn.model_selection import learning_curve
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from keras.wrappers.scikit_learn import KerasClassifier

from sklearn.preprocessing import MinMaxScaler

from sklearn.metrics import mean_squared_error
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_auc_score
from keras.callbacks import Callback
from sklearn.metrics import f1_score, precision_score

from sklearn.utils import resample

from scipy.stats import uniform as sp_randFloat
from scipy.stats import randint as sp_randInt
from scipy.stats import uniform as sp_uniform

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM, Dropout

from keras.optimizers import Adam
from keras.models import load_model
from keras.callbacks import ModelCheckpoint

from keras.optimizers import Adam
from keras.models import load_model
from keras.callbacks import ModelCheckpoint

import warnings; warnings.simplefilter('ignore')

from sklearn import preprocessing
import pandas_profiling

from imblearn.over_sampling import SMOTE
from sklearn.utils import class_weight
from imblearn.combine import SMOTETomek

In [0]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [0]:
pandas_profiling.ProfileReport(train)

In [0]:
train.head(10)

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGHGSN,1,10867.1100,8648.3450,15766.1791,28904.6617,5273.6550,23461.5317,12855.9716,28715.0888,...,0,1,0,1,214.0000,214.0000,68.0000,22.0000,22.0000,7.0000
1,RIMHI5ZGP,0,258431.2433,217963.2725,186628.6820,186628.6820,215451.8950,192361.5160,172653.7646,166697.3887,...,0,0,0,0,41.0000,41.0000,38.0000,12.0000,12.0000,11.0000
2,RIHOG1SZU,0,14593548.2300,12600603.8900,11003145.2400,10103145.2400,18798818.4600,15140351.7600,5320778.3310,6906324.1090,...,0,1,1,0,378.0000,378.0000,310.0000,21.0000,21.0000,16.0000
3,RIHOLMQWU,0,672704.3133,818111.5750,679489.2600,679489.2600,825725.4375,760580.3500,357713.4326,423661.1582,...,0,0,0,0,702.0000,702.0000,644.0000,951.0000,951.0000,743.0000
4,RIHO584ET,0,-1218742.4570,-3005360.9750,-166624.0580,-2403574.4940,2583182.6680,2086546.1340,5938358.3390,5446532.1500,...,0,0,0,0,1305.0000,1305.0000,1211.0000,2205.0000,2205.0000,1831.0000
5,RIHR51XD6,0,3911176.2330,3911176.2330,2995007.1900,2995007.1900,4519329.9770,4999872.9800,1610207.0470,2116667.4920,...,0,0,0,0,60.0000,60.0000,57.0000,20.0000,20.0000,18.0000
6,RDHD6BX,0,117394.1933,84996.6467,84996.6467,84996.6467,92090.9167,92090.9167,36189.9045,36189.9045,...,0,2,0,2,12.0000,12.0000,4.0000,9.0000,9.0000,4.0000
7,RS0UVS4,0,258238.5700,210152.8757,210429.3729,241683.5700,245887.2857,279366.8333,92632.4000,55217.4298,...,0,0,0,0,16.0000,15.0000,9.0000,18.0000,15.0000,5.0000
8,TIWWI0K5,0,14639.2967,15813.0360,19281.0067,15984.4650,16563.0060,17615.6300,2573.6481,2380.5034,...,2,1,2,1,42.0000,42.0000,21.0000,12.0000,12.0000,6.0000
9,T9VBLOY9,0,84058.4067,32686.3608,32686.3608,65356.4317,68320.9167,136629.3333,52933.2188,58899.3930,...,0,0,0,0,21.0000,20.0000,13.0000,10.0000,9.0000,4.0000

In [0]:
# Descriptive analysis
train.describe(include='all')

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
count,17521.0000,17521.0000,17521.0000,17521.0000,17521.0000,17521.0000,17521.0000,17521.0000,17521.0000,17521.0000,...,17521.0000,17521.0000,17521.0000,17521.0000,16347.0000,16347.0000,16335.0000,16347.0000,16347.0000,16335.0000
mean,0.1005,31589.6667,20465.3984,25029.3708,27893.8527,25977.3425,33025.9961,29126.9328,29710.6861,36173.9208,...,0.7362,0.5953,0.7738,0.6390,55.5400,55.0154,35.1810,17.9958,17.5400,10.3597
std,0.3007,761289.6523,713690.7813,601820.6952,609124.5098,721199.8425,748843.2862,217559.5116,298150.7888,261242.6676,...,0.9108,0.7850,0.9218,0.8063,53.2696,52.6971,34.9560,24.8389,24.6860,18.4764
min,0.0000,-85557186.6800,-85557186.6800,-70119546.5700,-71009196.5700,-84806580.9800,-90162503.7400,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
25%,0.0000,2742.3367,2007.8629,1857.0133,2562.6467,2973.1875,3822.1700,1824.1484,1787.4562,3505.2878,...,0.0000,0.0000,0.0000,0.0000,21.0000,21.0000,12.0000,9.0000,9.0000,5.0000
50%,0.0000,9308.0600,6642.8567,6236.5033,8464.3550,10369.6250,13035.3400,5705.4579,5536.1468,8832.6388,...,0.0000,0.0000,0.0000,0.0000,42.0000,42.0000,27.0000,13.0000,13.0000,7.0000
75%,0.0000,30538.7300,21560.9300,20681.5429,27738.4860,26459.9830,33592.0383,18522.2177,17539.7577,23419.1060,...,1.0000,1.0000,1.0000,1.0000,74.0000,73.0000,47.0000,21.0000,21.0000,12.0000
max,1.0000,14593548.2300,12889800.1100,14780684.2100,11780750.5400,18798818.4600,15140351.7600,11256302.6500,27886327.1100,13147619.9000,...,4.0000,4.0000,4.0000,4.0000,1305.0000,1305.0000,1211.0000,2205.0000,2205.0000,1831.0000

In [0]:
train=train.fillna(0)

In [0]:
Y=train.drop(["Col2"], axis = 1, inplace = True)

In [0]:
from sklearn.preprocessing import LabelEncoder
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns 

    def fit(self,X,y=None):
        return self 

    def transform(self,X):
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [0]:
train=MultiColumnLabelEncoder(columns = ['Col1']).fit_transform(train)

In [0]:
train.head()

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,17331,10867.1100,8648.3450,15766.1791,28904.6617,5273.6550,23461.5317,12855.9716,28715.0888,9114.5864,...,0,1,0,1,214.0000,214.0000,68.0000,22.0000,22.0000,7.0000
1,17336,258431.2433,217963.2725,186628.6820,186628.6820,215451.8950,192361.5160,172653.7646,166697.3887,201351.8082,...,0,0,0,0,41.0000,41.0000,38.0000,12.0000,12.0000,11.0000
2,17333,14593548.2300,12600603.8900,11003145.2400,10103145.2400,18798818.4600,15140351.7600,5320778.3310,6906324.1090,9368337.9480,...,0,1,1,0,378.0000,378.0000,310.0000,21.0000,21.0000,16.0000
3,17334,672704.3133,818111.5750,679489.2600,679489.2600,825725.4375,760580.3500,357713.4326,423661.1582,430484.8174,...,0,0,0,0,702.0000,702.0000,644.0000,951.0000,951.0000,743.0000
4,17332,-1218742.4570,-3005360.9750,-166624.0580,-2403574.4940,2583182.6680,2086546.1340,5938358.3390,5446532.1500,3473444.1430,...,0,0,0,0,1305.0000,1305.0000,1211.0000,2205.0000,2205.0000,1831.0000

In [0]:
pd.options.display.float_format = '{:.4f}'.format

In [0]:

from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test = train_test_split(train , Y , test_size=0.3 , random_state=0)
print ('Train set:', X_train.shape,  Y_train.shape)
print ('Test set:', X_test.shape,  Y_test.shape)
from sklearn import metrics

In [0]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=50 ,random_state=42)
forest.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [0]:
y_pred=forest.predict(X_test)

In [0]:
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

Accuracy: 0.8951873692219897

In [0]:
test.head()

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGD58ZWD,81671.3967,86145.4200,75322.9617,75322.9617,112517.4000,100277.8333,20389.1522,30538.5338,83959.1123,...,0,0,0,0,44.0000,44.0000,23.0000,41.0000,41.0000,36.0000
1,RIH660YDS,-13628243.6300,-4493042.7820,-3777256.6930,-4493042.7820,-4749764.3730,-4749764.3730,11475555.6700,11475555.6700,12720552.0600,...,1,1,2,2,1234.0000,1234.0000,680.0000,154.0000,153.0000,86.0000
2,RIH660Q96,1302699.8330,1341448.9180,1240085.1840,1341448.9180,1477503.2720,1477503.2720,390408.5719,390408.5719,497910.6325,...,0,0,0,0,33.0000,24.0000,19.0000,3.0000,1.0000,1.0000
3,RIYDO15W1,193225.8267,145443.2650,192914.7986,145443.2650,13182.5000,13182.5000,86501.0767,86501.0767,5896.6933,...,0,0,0,0,8.0000,8.0000,3.0000,7.0000,7.0000,3.0000
4,RIYBGC1ZD,391338.4633,198733.7483,170343.2129,198733.7483,304653.6333,304653.6333,252830.6994,252830.6994,303444.8819,...,0,0,0,0,7.0000,7.0000,7.0000,6.0000,6.0000,5.0000

In [0]:
test=MultiColumnLabelEncoder(columns = ['Col1']).fit_transform(test)

In [0]:
test

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,20221,81671.3967,86145.4200,75322.9617,75322.9617,112517.4000,100277.8333,20389.1522,30538.5338,83959.1123,...,0,0,0,0,44.0000,44.0000,23.0000,41.0000,41.0000,36.0000
1,20223,-13628243.6300,-4493042.7820,-3777256.6930,-4493042.7820,-4749764.3730,-4749764.3730,11475555.6700,11475555.6700,12720552.0600,...,1,1,2,2,1234.0000,1234.0000,680.0000,154.0000,153.0000,86.0000
2,20222,1302699.8330,1341448.9180,1240085.1840,1341448.9180,1477503.2720,1477503.2720,390408.5719,390408.5719,497910.6325,...,0,0,0,0,33.0000,24.0000,19.0000,3.0000,1.0000,1.0000
3,20233,193225.8267,145443.2650,192914.7986,145443.2650,13182.5000,13182.5000,86501.0767,86501.0767,5896.6933,...,0,0,0,0,8.0000,8.0000,3.0000,7.0000,7.0000,3.0000
4,20228,391338.4633,198733.7483,170343.2129,198733.7483,304653.6333,304653.6333,252830.6994,252830.6994,303444.8819,...,0,0,0,0,7.0000,7.0000,7.0000,6.0000,6.0000,5.0000
5,20230,-4705417.9330,-5962627.0720,-5110823.2040,-5962627.0720,-6156062.9650,-6156062.9650,1985401.6130,1985401.6130,3459429.3450,...,0,0,0,0,1086.0000,1086.0000,580.0000,3104.0000,3104.0000,1745.0000
6,20229,2362768.2530,1696277.9630,1456517.8240,1696277.9630,1950286.7230,1950286.7230,763647.5765,763647.5765,675422.6410,...,1,2,1,2,123.0000,123.0000,86.0000,158.0000,157.0000,85.0000
7,20268,18949.2433,14123.9900,11792.1267,11792.1267,7851.1560,6590.0633,9654.6834,10241.6091,8097.1889,...,0,0,0,0,41.0000,41.0000,25.0000,14.0000,14.0000,8.0000
8,20272,6084.6433,6285.5167,6171.0829,6285.5167,6072.0000,6072.0000,507.8435,507.8435,42.7294,...,0,0,0,0,2.0000,2.0000,0.0000,5.0000,3.0000,1.0000
9,20251,212635.6100,261179.7283,536253.6533,399079.0083,278116.5350,385216.6600,237564.6570,234466.8323,268055.1080,...,0,0,0,0,12.0000,5.0000,2.0000,9.0000,2.0000,1.0000
10,20250,11579.8533,20318.4314,20318.4314,18859.5183,19317.7400,14140.4367,10467.4942,10626.6276,15154.1347,...,0,0,0,0,24.0000,24.0000,13.0000,14.0000,11.0000,6.0000
11,20238,52032.9033,51284.3783,51284.3783,51284.3783,51501.7567,51501.7567,917.7969,917.7969,1105.7059,...,0,0,0,0,2.0000,2.0000,1.0000,6.0000,6.0000,3.0000
12,20239,5502.2967,1847.8125,1900.6458,3695.6250,4304.2683,8608.5367,2565.0011,2515.8483,9170.8231,...,2,0,1,1,111.0000,111.0000,74.0000,21.0000,19.0000,11.0000
13,20267,29736.0600,28281.7660,25512.5833,25512.5833,34186.4040,32655.3367,3313.8380,6894.1038,14030.0996,...,0,0,0,0,6.0000,6.0000,6.0000,7.0000,7.0000,4.0000
14,20266,9826.7633,7657.0610,7069.1173,12756.9300,5794.9030,9658.1717,9036.4398,8430.3886,8571.0039,...,2,1,2,1,61.0000,60.0000,37.0000,28.0000,24.0000,12.0000
15,20289,47009.1000,18548.3000,19397.9417,37024.0100,19006.5467,37940.1800,35216.9220,42399.8211,39758.0047,...,0,0,0,0,8.0000,8.0000,4.0000,5.0000,3.0000,1.0000
16,20286,62710.5067,74457.0317,65970.0571,74457.0317,57508.0567,57508.0567,15578.4131,15578.4131,27873.7877,...,0,1,0,1,31.0000,29.0000,5.0000,17.0000,13.0000,5.0000
17,20285,5852.3867,7130.8000,6190.4414,7130.8000,40832.9083,40832.9083,2594.7250,2594.7250,3520.6317,...,0,0,0,0,96.0000,96.0000,41.0000,30.0000,28.0000,12.0000
18,20283,312577.7700,212055.6400,189824.1450,189824.1450,49726.0500,47021.7083,279636.0445,260071.3074,24128.6144,...,0,0,0,0,18.0000,18.0000,7.0000,19.0000,19.0000,8.0000
19,20276,61192.4233,34725.4008,35493.1425,44598.6600,36807.4625,48682.9450,16871.7268,19347.5618,18846.9489,...,0,0,0,0,7.0000,7.0000,3.0000,16.0000,14.0000,4.0000
20,20281,53786.6767,214638.3583,1709262.0150,214638.3583,210939.1667,210939.1667,249349.9135,249349.9135,352972.4618,...,0,0,0,0,1.0000,1.0000,0.0000,6.0000,6.0000,1.0000
21,20245,6930256.4470,5092583.9010,5094653.9470,5777566.4980,5643889.9860,6247315.3170,2467864.6520,1954422.0150,2303444.2680,...,0,0,0,0,13.0000,12.0000,3.0000,12.0000,8.0000,2.0000
22,2768,22594.3767,22049.3520,28263.3483,19374.4600,22571.5920,22142.9933,934.8969,6044.5638,248.5229,...,0,0,0,0,0.0000,0.0000,0.0000,9.0000,9.0000,4.0000
23,2771,50293.8000,34114.5617,34114.5617,34114.5617,41748.6017,41748.6017,17355.5212,17355.5212,14704.6715,...,0,0,0,0,14.0000,14.0000,14.0000,9.0000,9.0000,5.0000
24,2759,21354.2567,18288.7267,18288.7267,18288.7267,21135.1667,21135.1667,6399.5534,6399.5534,518.1611,...,0,0,0,0,0.0000,0.0000,0.0000,4.0000,4.0000,1.0000
25,2761,44742.2167,34840.2300,35856.5129,39550.0433,38633.3429,43068.5667,13793.3618,8162.7938,16591.3439,...,0,0,0,0,23.0000,23.0000,7.0000,6.0000,4.0000,1.0000
26,2788,236372.6167,179127.2680,150309.8233,150309.8233,227186.9800,199693.4833,79105.4523,96802.8974,67875.5679,...,0,1,0,0,37.0000,37.0000,37.0000,13.0000,13.0000,9.0000
27,2781,110766.6767,109045.6860,93093.6267,93093.6267,110814.2000,109011.8333,3086.0814,35797.4406,575.9581,...,0,0,0,0,1.0000,1.0000,0.0000,5.0000,5.0000,1.0000
28,2775,100652.6900,42254.6125,42365.7233,65877.1783,49172.9392,78288.4767,39347.6818,44192.3996,50307.4598,...,3,1,3,1,95.0000,70.0000,49.0000,31.0000,24.0000,15.0000
29,2820,24542.2933,6135.5733,6135.5733,12271.1467,18822.9750,37645.9500,19530.8276,26222.4011,43539.0951,...,0,0,0,0,9.0000,9.0000,9.0000,4.0000,4.0000,4.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20412,18345,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20413,18352,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20414,18350,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20415,18351,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20416,18364,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20417,18365,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20418,18356,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20419,18357,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20420,18358,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20421,18362,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20422,18363,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20423,18353,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20424,18354,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20425,18355,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20426,18359,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20427,18342,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20428,18343,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20429,18370,114878.3967,110857.1850,92155.8560,90019.0820,111224.0750,108979.2600,42287.3481,56331.9718,49188.6199,...,1,0,1,0,15.0000,15.0000,11.0000,8.0000,8.0000,4.0000
20430,18369,21603.5433,32378.4650,28306.2120,26169.4380,23239.6525,22591.7220,24897.2815,25507.3227,27368.0405,...,1,0,1,0,28.0000,28.0000,26.0000,7.0000,7.0000,5.0000
20431,18336,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20432,18379,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0,0,0,0,nan,nan,nan,nan,nan,nan
20433,18381,4891.5200,6787.2475,5763.1320,5763.1320,5234.1400,9187.3120,3348.3979,3630.2474,2614.9586,...,1,0,1,0,31.0000,31.0000,21.0000,15.0000,15.0000,10.0000
20434,18380,21636.7967,18935.6625,15215.1960,15215.1960,25313.2000,22250.5600,7194.1997,9846.7186,18004.9418,...,0,0,0,0,10.0000,10.0000,8.0000,6.0000,6.0000,4.0000
20435,18384,55839.9133,50441.5475,40419.9040,40419.9040,57131.1975,47704.9580,25677.6244,30504.9055,37835.9144,...,0,0,0,0,17.0000,17.0000,13.0000,15.0000,15.0000,10.0000
20436,18377,3142.3100,3399.6125,2719.6900,2719.6900,276.0650,220.8520,979.5810,1619.5759,121.7882,...,1,1,1,1,46.0000,46.0000,39.0000,7.0000,7.0000,5.0000
20437,18378,38627.2567,35011.0275,28251.8320,28135.4880,36703.3000,33162.6400,6330.9226,14892.5838,4805.8804,...,0,0,0,0,6.0000,6.0000,4.0000,5.0000,5.0000,1.0000
20438,18375,25780.5033,19335.3775,15468.3020,15468.3020,19487.1500,15589.7200,13132.3094,14070.6499,12881.7617,...,0,1,0,1,9.0000,9.0000,9.0000,7.0000,7.0000,7.0000
20439,18376,175557.9567,140645.7275,112583.2480,112583.2480,125300.3725,102240.2980,61414.4356,78599.8250,60330.2480,...,1,2,1,2,27.0000,27.0000,18.0000,10.0000,10.0000,5.0000
20440,11879,68066.4267,63380.5820,64136.4200,64136.4200,70823.0460,70785.9533,20179.0624,18498.3216,40154.6790,...,0,0,0,0,2.0000,2.0000,0.0000,9.0000,9.0000,3.0000
20441,2999,-67666397.2400,-64164485.2200,-29519619.3700,-51602576.0100,-62827472.5500,-54482134.2400,6802486.0260,26526416.5300,4465385.9210,...,0,0,0,0,1003.0000,1003.0000,849.0000,85.0000,85.0000,72.0000

In [0]:
X_testt=X_testt.fillna(0)

In [0]:
y_pred1=forest.predict(X_testt)

In [0]:
s=pd.Series(y_pred1)

In [0]:
df=pd.DataFrame(s, columns=['a'])

In [0]:
df.to_csv('./a.csv', index=False)
print(df.head(10))

   a
0  0
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  0

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [0]:
X_train.shape, Y_train.shape, X_test.shape

In [0]:
#Linear Regression

linreg = LinearRegression()
linreg.fit(X_train, Y_train)
Y_pred = linreg.predict(X_test)
acc_log = round(linreg.score(X_train, Y_train) * 100, 2)
acc_log

In [0]:
#Support Vector Machines (SVM)
svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, Y_train) * 100, 2)
acc_svc

In [0]:
#K-nearest (k-NN)
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

In [0]:
# Gaussian Naive Bayes

gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, Y_train) * 100, 2)
acc_gaussian

In [0]:
#Perceptron
perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, Y_train) * 100, 2)
acc_perceptron

In [0]:
# Linear SVC

linear_svc = LinearSVC()
linear_svc.fit(X_train, Y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, Y_train) * 100, 2)
acc_linear_svc

In [0]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)
acc_sgd

In [0]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

In [0]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

In [0]:
models = pd.DataFrame({
        'Model': ['Support Vector Machines', 'KNN', 'Linear Regression', 'Random Forest', 'Naive Bayes', 'Perceptron',
                  'Stochastic Gradient Descent', 'Linear SVC', 'Decision Tree'],
        'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]
    })
models.sort_values(by='Score', ascending=False)

In [0]:
Y_pred =np.array(Y_pred).tolist()
y_pred = np.array(Final)

In [0]:
submission = pd.DataFrame({
        "Col1": test["Col1"],
        "Col2":y_pred
    })
submission.to_csv('./submission.csv', index=False)
print(submission.head(10))

In [0]:
from google.colab import files
files.download('submission.csv')

#XGBOOST

In [0]:
train_X = big_X_imputed[0:train.shape[0]].as_matrix()
test_X = big_X_imputed[train.shape[0]::].as_matrix()
train_y = train['Col2']

In [0]:
import xgboost as xgb
gbm = xgb.XGBClassifier(max_depth=3, n_estimators=300, learning_rate=0.05).fit(train_X, train_y)
predictions = gbm.predict(test_X)

In [0]:
Y_pred =np.array(predictions).tolist()
predictions = np.array(Final)

In [0]:
submission = pd.DataFrame({ 'Col1': test['Col1'],
                            'Col2': predictions })
submission.to_csv("XGBOOST.csv", index=False)

In [0]:
from google.colab import files
files.download('XGBOOST.csv')